FishinatorPi/flows_AquaPi.json
[{"id":"33bf8f49.cc407","type":"tab","label":"Fishinator Flow","disabled":false,"info":""},{"id":"53928ce1.ac6d74","type":"tab","label":"Assorted temperatures","disabled":false,"info":""},{"id":"684fddbb.d691e4","type":"tab","label":"Fishinator Publishing","disabled":false,"info":"Stuff for the internet, and beyond!"},{"id":"1b370f51.905661","type":"tab","label":"rPi etc","disabled":false,"info":""},{"id":"d46a7cc.f2b958","type":"tab","label":"Furnace World","disabled":true,"info":"All things furnace"},{"id":"b40b5bc9.07fc38","type":"tab","label":"tests","disabled":true,"info":""},{"id":"ccf6fec8.3309","type":"ui_tab","z":"","name":"some basic flows","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"dfef0336.2011","type":"ui_group","z":"","name":"Some basic Flows","tab":"ccf6fec8.3309","order":1,"disp":false,"width":"6","collapse":true},{"id":"69b40526.964bfc","type":"serial-port","z":"","serialport":"/dev/ttyAMA0","serialbaud":"4800","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"3960f914.3e7bf6","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"1fbfdeeb.e04021","type":"websocket-listener","z":"","path":"/ws/lasttemp","wholemsg":"false"},{"id":"8bb4bc70.744b4","type":"ui_group","z":"","name":"Acceleration (g)","tab":"658d959c.9a726c","order":6,"disp":true,"width":"6","collapse":true},{"id":"658d959c.9a726c","type":"ui_tab","z":"","name":"RPi","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"f36b4e61.0c94b","type":"ui_group","z":"","name":"System Status","tab":"e4851a5b.1b7ae8","order":1,"disp":true,"width":"6","collapse":true},{"id":"e4851a5b.1b7ae8","type":"ui_tab","z":"","name":"Fishinator Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a62b14ff.59d4e8","type":"ui_group","z":"","name":"Interface One","tab":"36b65d6b.c949a2","order":1,"disp":false,"width":"6","collapse":false},{"id":"36b65d6b.c949a2","type":"ui_tab","z":"","name":"Cam's Home Monitor","icon":"dashboard","order":2},{"id":"93a36686.6c5c98","type":"mcp23017chip","z":"","addr":"0x27","interval":"100"},{"id":"190d0afc.e6f2f5","type":"ui_group","z":"","name":"thermistor debug only","tab":"6ef8a475.91075c","order":6,"disp":true,"width":"6","collapse":true},{"id":"553da004.aac26","type":"ui_group","z":"","name":"Temperature Tests","tab":"6ef8a475.91075c","order":3,"disp":true,"width":"6","collapse":true},{"id":"551ae7d6.aae518","type":"ui_group","z":"","name":"T, dT/dt and Tau","tab":"6ef8a475.91075c","order":4,"disp":true,"width":"6","collapse":true},{"id":"c49fd109.3b603","type":"ui_group","z":"","name":"Furnace World","tab":"6ef8a475.91075c","order":2,"disp":true,"width":"6","collapse":true},{"id":"dbb4f78.f244b08","type":"ui_group","z":"","name":"stuff graph","tab":"6ef8a475.91075c","order":5,"disp":true,"width":"6","collapse":true},{"id":"3e728e23.c18d72","type":"ui_group","z":"","name":"Interface One","tab":"6ef8a475.91075c","order":1,"disp":false,"width":"6","collapse":false},{"id":"6ef8a475.91075c","type":"ui_tab","z":"","name":"RPi","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d05e4224.2fa1c","type":"ncd-comm","z":"","name":"ads1115 - Thermistors A/D","bus":"i2c-1","commType":"standard","addr":"0","useMux":false,"muxAddr":"112","muxPort":"0"},{"id":"f5d27efd.0a2d8","type":"ncd-comm","z":"","name":"ads1115","bus":"i2c-1","commType":"standard","addr":"0","useMux":false,"muxAddr":"112","muxPort":"0"},{"id":"60c982a6.9f367c","type":"serial-port","z":"","serialport":"/dev/rfcomm0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","newline":"\\r\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"448ba5ab.bb745c","type":"ui_tab","z":"","name":"AquaPonics","icon":"dashboard","order":4,"disabled":true,"hidden":false},{"id":"ffe36dc8.001c9","type":"ui_group","z":"","name":"WTF scruff channel","tab":"e4851a5b.1b7ae8","order":10,"disp":true,"width":"6","collapse":true},{"id":"86c78d95.79387","type":"ui_group","z":"","name":"Sensors","tab":"e4851a5b.1b7ae8","order":8,"disp":true,"width":"6","collapse":true},{"id":"a235346.f5dcac8","type":"ui_spacer","name":"spacer","group":"a62b14ff.59d4e8","order":3,"width":1,"height":1},{"id":"c0886a13.3f7798","type":"ui_group","z":"","name":"untested","tab":"e4851a5b.1b7ae8","order":9,"disp":true,"width":"6","collapse":true},{"id":"d25d1ee3.2da2e","type":"ui_group","z":"","name":"Configuration","tab":"e4851a5b.1b7ae8","order":7,"disp":true,"width":"6","collapse":true},{"id":"b6208251.49df8","type":"ui_group","z":"","name":"Depth Monitors","tab":"e4851a5b.1b7ae8","order":3,"disp":true,"width":"6","collapse":true},{"id":"e643fd99.19bc","type":"ui_group","z":"","name":"Events","tab":"e4851a5b.1b7ae8","order":6,"disp":true,"width":"6","collapse":true},{"id":"1a48274b.e5b7d9","type":"ui_group","z":"","name":"Pump!","tab":"e4851a5b.1b7ae8","order":2,"disp":true,"width":"6","collapse":true},{"id":"8a4fb36.f75b05","type":"ui_group","z":"","name":"Webcam","tab":"e4851a5b.1b7ae8","order":5,"disp":true,"width":"6","collapse":true},{"id":"593dbe5a.a6c24","type":"ui_group","z":"","name":"picture","tab":"3c24079f.c3dbf8","order":9,"disp":true,"width":"6","collapse":false},{"id":"3c24079f.c3dbf8","type":"ui_tab","z":"","name":"Dashboard","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a12e1682.5ed1e8","type":"ui_group","z":"","name":"Temperatures","tab":"e4851a5b.1b7ae8","order":4,"disp":true,"width":"6","collapse":true},{"id":"8ae2157d.ca25b8","type":"websocket-client","z":"","path":"ws://10.9.142.142:1880/ws/temperature","tls":"","wholemsg":"false"},{"id":"9916e35.a20ce2","type":"websocket-client","z":"","path":"ws://10.9.142.142:1880/ws/waterdepthpacket","tls":"","wholemsg":"true"},{"id":"2cb356cd.c9634a","type":"ui_group","name":"Control","tab":"d45c29c8.18c9b8","order":1,"disp":true,"width":"6","collapse":true},{"id":"d45c29c8.18c9b8","type":"ui_tab","name":"Control Fishinator","icon":"dashboard","order":15,"disabled":false,"hidden":false},{"id":"b73bf376.228da","type":"usbcamera","z":"1b370f51.905661","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","name":"webcam","x":400,"y":140,"wires":[["74935e03.494c6","8ae25a4e.075908"]]},{"id":"74935e03.494c6","type":"http response","z":"1b370f51.905661","name":"","statusCode":"","headers":{"content-type":"image/png"},"x":660,"y":140,"wires":[]},{"id":"648f2079.f0145","type":"http in","z":"1b370f51.905661","name":"","url":"/webcam","method":"get","upload":false,"swaggerDoc":"","x":210,"y":140,"wires":[["b73bf376.228da"]]},{"id":"30748a1.10da476","type":"catch","z":"1b370f51.905661","name":"catch webcam errors","scope":["b73bf376.228da"],"uncaught":false,"x":400,"y":200,"wires":[["8ae25a4e.075908"]]},{"id":"8ae25a4e.075908","type":"debug","z":"1b370f51.905661","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":180,"wires":[]},{"id":"67517c10.98ae84","type":"inject","z":"53928ce1.ac6d74","name":"RPi Processor Temperature Poller","topic":"","payload":"0","payloadType":"num","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":260,"y":400,"wires":[["8b2a6e36.74d59"]]},{"id":"8b2a6e36.74d59","type":"exec","z":"53928ce1.ac6d74","command":"cat /sys/class/thermal/thermal_zone0/temp","addpay":true,"append":"","useSpawn":"true","timer":"","oldrc":false,"name":"RPi proc temp","x":530,"y":400,"wires":[["fce29cf1.031d6"],[],[]]},{"id":"21d9d61d.de262a","type":"function","z":"53928ce1.ac6d74","name":"reformat data","func":"var entrytime = new Date();\n \nnode.status({fill:\"red\",shape:\"dot\",text:\"last access: \"+entrytime.getMinutes()+\":\"+entrytime.getSeconds()});//human-readable version\n\nif (msg.payload.tempc)  //if source is openweathermap or similar standard\n    return {payload: msg.payload.tempc, update: 1, accuracy:1, resolution:1, datetimestr: entrytime.toString(), datetime: entrytime.getTime(), topic: \"Airport/Forks Temperature (C)\",label: 1, raw:msg};\nelse\n    return {textwords: \"No tempc in packet?\", value:msg.tempc};","outputs":1,"noerr":0,"x":530,"y":300,"wires":[["d98c6991.267398","e4ef16ee.1b10e8","4a7aade5.b58554","4e8cebf9.b17314"]]},{"id":"fce29cf1.031d6","type":"function","z":"53928ce1.ac6d74","name":"reformat data","func":"var entrytime = new Date();\n\nnode.status({fill:\"red\",shape:\"dot\",text:\"last access: \"+entrytime.getMinutes()+\":\"+entrytime.getSeconds()});//human-readable version\n\nif (msg.payload)  //if source is openweathermap or similar standard\n    return {payload: msg.payload/1000, \n            accuracy:5, \n            resolution:0.001, \n            datetimestr: entrytime.toString(), \n            datetime: entrytime.getTime(), \n            topic: \"Raspberry Pi host Processor Temperature (C)\",\n            label: 1, \n            raw:msg};\nelse\n    return {textwords: \"No payload in packet?\", value:msg.payload};","outputs":1,"noerr":0,"x":750,"y":380,"wires":[["7e6b67a1.819498","e4ef16ee.1b10e8"]]},{"id":"7e6b67a1.819498","type":"debug","z":"53928ce1.ac6d74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1020,"y":380,"wires":[]},{"id":"d98c6991.267398","type":"debug","z":"53928ce1.ac6d74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":700,"y":260,"wires":[]},{"id":"e4ef16ee.1b10e8","type":"ui_chart","z":"53928ce1.ac6d74","name":"/ui Temperature Graph","group":"dfef0336.2011","order":4,"width":"6","height":"9","label":"Temperature, C","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"Temperature Graph (Celcius)","dot":true,"ymin":"-25","ymax":"75","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#eb50dc","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1080,"y":300,"wires":[[]]},{"id":"f48b832b.0b748","type":"inject","z":"53928ce1.ac6d74","name":"clear graph","topic":"clear","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":880,"y":260,"wires":[["e4ef16ee.1b10e8"]]},{"id":"6478da22.9b8724","type":"openweathermap in","z":"53928ce1.ac6d74","name":"OpenWeatherMap - Wpg ","wtype":"current","lon":"","lat":"","city":"Winnipeg","country":"Canada","language":"en","x":300,"y":300,"wires":[["21d9d61d.de262a"]]},{"id":"c81b3943.37e4c8","type":"comment","z":"53928ce1.ac6d74","name":"Grab some temperatures - probably graph them","info":"","x":390,"y":120,"wires":[]},{"id":"4a64861f.af2968","type":"inject","z":"1b370f51.905661","name":"start","topic":"","payload":"/usr/bin/sudo hcitool lescan","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":341,"wires":[["723e1ff6.8dc1e"]]},{"id":"2397559c.bd4dea","type":"inject","z":"1b370f51.905661","name":"kill","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":381,"wires":[["9c3b37c2.abff98"]]},{"id":"9c3b37c2.abff98","type":"function","z":"1b370f51.905661","name":"add .kill -9","func":"msg.kill = \"-9\";\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":381,"wires":[["723e1ff6.8dc1e"]]},{"id":"d182a4d7.8649b8","type":"debug","z":"1b370f51.905661","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":320,"wires":[]},{"id":"d9e54b62.9d84d8","type":"comment","z":"1b370f51.905661","name":"flakey code - Scan for nearby Bluetooth BLE devices - continually","info":"","x":350,"y":301,"wires":[]},{"id":"723e1ff6.8dc1e","type":"exec","z":"1b370f51.905661","command":"/home/pi/.node-red/ble_scan.sh","addpay":false,"append":"","useSpawn":"true","timer":"5","oldrc":false,"name":"","x":610,"y":360,"wires":[["d182a4d7.8649b8"],["8a06a108.75f96"],["8a06a108.75f96"]]},{"id":"8a06a108.75f96","type":"debug","z":"1b370f51.905661","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":920,"y":360,"wires":[]},{"id":"ff9b7116.00649","type":"debug","z":"1b370f51.905661","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":720,"y":420,"wires":[]},{"id":"dc142763.23ebd8","type":"catch","z":"1b370f51.905661","name":"","scope":["723e1ff6.8dc1e"],"uncaught":false,"x":570,"y":420,"wires":[["ff9b7116.00649"]]},{"id":"37c60ac5.c839f6","type":"tcp out","z":"53928ce1.ac6d74","host":"192.168.1.85","port":"64321","beserver":"reply","base64":false,"end":true,"name":"return last temperature","x":980,"y":200,"wires":[]},{"id":"4a7aade5.b58554","type":"function","z":"53928ce1.ac6d74","name":"hold last packet","func":"var lastpacket = context.get('lastTempurPacket')||msg;\n//if (null === msg.localinfo) return null;\nswitch(msg.localinfo)\n{\n    case \"update\": context.set('lastTempurPacket',msg); return null;\n    default: return lastpacket;\n}\nreturn null; //how did we get here?","outputs":1,"noerr":2,"x":740,"y":200,"wires":[["37c60ac5.c839f6"]]},{"id":"7078d354.8f872c","type":"tcp in","z":"53928ce1.ac6d74","name":"temperature request","server":"server","host":"","port":"54321","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":490,"y":200,"wires":[["4a7aade5.b58554"]]},{"id":"600f6c99.254d94","type":"comment","z":"1b370f51.905661","name":"Plug in a USB webcam, access at http://localhost:1800/webcam","info":"","x":360,"y":100,"wires":[]},{"id":"eb608c9c.4ddc","type":"link in","z":"53928ce1.ac6d74","name":"other temperature input","links":["6ac8fd52.c8fb94","8bfe7a5a.f49c88"],"x":505,"y":480,"wires":[["3aada87b.2739a8"]]},{"id":"3aada87b.2739a8","type":"function","z":"53928ce1.ac6d74","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":480,"wires":[["7e6b67a1.819498"]]},{"id":"a5946bd.f5a6b98","type":"debug","z":"d46a7cc.f2b958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":590,"y":580,"wires":[]},{"id":"eb6c86fa.149378","type":"ui_chart","z":"d46a7cc.f2b958","name":"","group":"190d0afc.e6f2f5","order":1,"width":"6","height":"7","label":"ADS1115 Thermistor voltages","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0.0","ymax":"3.3","removeOlder":"2","removeOlderPoints":"512","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":1700,"y":500,"wires":[[]]},{"id":"b3402471.4cbfd8","type":"function","z":"d46a7cc.f2b958","name":"format ads1115 into voltages for graph ","func":"//convert 2s complement readings into voltages\nvar MAXREADING = 3.3; //volts\nvar reading = parseInt(msg.payload);\n\n//Value comes in 2s-complement format!\nif ((reading & 0x8000) > 0) {\n   reading = reading - 0x10000;\n}\n\nmsg.timestamp = Date.now();\n\nmsg.payload = MAXREADING*reading.toFixed(5)/32768;\n\n//node.warn({payload:msg.topic});\n\n\n//configure for temperature reading\nswitch(msg.topic)\n{\n    case \"channel_1\": msg.topic = \"Ambient@electronics\"; break;\n    case \"channel_2\": msg.topic = \"Ambient@fishinator\"; break;\n    case \"channel_3\": msg.topic = \"Cold Water\"; break;\n    case \"channel_4\": msg.topic = \"Hot Water\"; break;\n    case \"device_status\": return null; //probably comes from a startup reading\n    default: return null;\n}\n\nif (!isNaN(reading))\n    node.status({text:\"adc: \"+reading+\" (raw)\"+\" (\"+msg.topic+\")\"});\n\nreturn msg;","outputs":1,"noerr":2,"x":710,"y":520,"wires":[["c644ce7d.39bb3","bada153b.4525e8"]],"info":" fcn"},{"id":"c644ce7d.39bb3","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":460,"wires":[]},{"id":"fa8815d3.0577e8","type":"inject","z":"d46a7cc.f2b958","name":"clear data","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":940,"y":420,"wires":[["cfb1806.f304e8"]]},{"id":"cfb1806.f304e8","type":"ui_button","z":"d46a7cc.f2b958","name":"clear ui data","group":"190d0afc.e6f2f5","order":4,"width":"6","height":"1","passthru":false,"label":"clear data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"clear data","x":1100,"y":420,"wires":[["7ac746c6.8538b8"]]},{"id":"7ac746c6.8538b8","type":"function","z":"d46a7cc.f2b958","name":"log - clear temps","func":"node.log(\"Clearing ADS1115 Thermistor Graph\")\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":420,"wires":[["eb6c86fa.149378","2f1474c3.d0eb8c","837e975d.7c8168"]]},{"id":"2f1474c3.d0eb8c","type":"ui_chart","z":"d46a7cc.f2b958","d":true,"name":"","group":"190d0afc.e6f2f5","order":2,"width":"6","height":"7","label":"Thermistor Resistances","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":false,"ymin":"0.0","ymax":"","removeOlder":"2","removeOlderPoints":"512","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":1680,"y":540,"wires":[[]]},{"id":"d45fbbe7.2ba048","type":"function","z":"d46a7cc.f2b958","name":"convert voltage to resistance","func":"var MAXREADING = 3.3; //volts\nvar resistance = 0.0;\n\n//the reference resistance is a known value for the system; use it.\nvar REFERENCE_PULLUP_MEASURED = 9860; //pullup to vcc on 10k thermistor\n\nmsg.reference_pullup_measured = REFERENCE_PULLUP_MEASURED;\n\nif (\"Ambient@electronics\"==msg.topic)\n{\n    resistance =REFERENCE_PULLUP_MEASURED*(msg.payload/(MAXREADING-msg.payload));\n    node.status({text:\"R_t: \"+resistance.toFixed(0)+\" (ohms)\"});\n}\nelse \n    resistance =10000*(msg.payload/(MAXREADING-msg.payload)); //10k nominal\n    \nmsg.payload = resistance.toFixed(0);\n//node.status({text:\"R_t: \"+msg.payload+\" (ohms)\"});\nreturn msg;","outputs":1,"noerr":2,"x":1390,"y":580,"wires":[["2f1474c3.d0eb8c","d6687358.29979"]]},{"id":"47c5439c.b83abc","type":"function","z":"d46a7cc.f2b958","name":"add NTC B57991S 10k Thermister datasheet to payload","func":"\nvar datasheet =\n{\n    //seems to be 62 points in the datasheet for TDK B57991S Thermistors\n    //2908-type data\n    desc: \"TDK B57881S0103+002 10k Thermistor Table\",\n    number: \"2908\",\n    nominalvalue: \"10000\", //ohms, 25C, 298K\n    B: \"3460\",\n    Bacc: \"0.01\", //plusminus 1%\n   data: [\n        { tempC: \"-55.0\",  rtr25_ratio:\"45.313\", alpha: \"6.0\"},\n        { tempC: \"-50.0\",  rtr25_ratio:\"33.729\", alpha: \"5.8\"},\n        { tempC: \"-45.0\",  rtr25_ratio:\"25.333\", alpha: \"5.6\"},\n        { tempC: \"-40.0\",  rtr25_ratio:\"19.191\", alpha: \"5.5\"},\n        { tempC: \"-35.0\",  rtr25_ratio:\"14.659\", alpha: \"5.3\"},\n        \n        { tempC: \"-30.0\",  rtr25_ratio:\"11.288\", alpha: \"5.1\"},\n        { tempC: \"-25.0\",  rtr25_ratio:\"8.7588\", alpha: \"5.0\"},\n        { tempC: \"-20.0\",  rtr25_ratio:\"6.8471\", alpha: \"4.9\"},\n        { tempC: \"-15.0\",  rtr25_ratio:\"5.3910\", alpha: \"4.7\"},\n        { tempC: \"-10.0\",  rtr25_ratio:\"4.2739\", alpha: \"4.6\"},\n        \n        { tempC: \"-5.0\",  rtr25_ratio:\"3.4109\", alpha: \"4.4\"},\n        { tempC: \"0.0\",  rtr25_ratio:\"2.7396\", alpha: \"4.3\"},\n        { tempC: \"5.0\",  rtr25_ratio:\"2.2140\", alpha: \"4.2\"},\n        { tempC: \"10.0\",  rtr25_ratio:\"1.7999\", alpha: \"4.1\"},\n        { tempC: \"15.0\",  rtr25_ratio:\"1.4716\", alpha: \"4.0\"},\n        \n        { tempC: \"20.0\",  rtr25_ratio:\"1.2099\", alpha: \"3.9\"},\n        { tempC: \"25.0\",  rtr25_ratio:\"1.0000\", alpha: \"3.8\"},\n        { tempC: \"30.0\",  rtr25_ratio:\"0.83078\", alpha: \"3.7\"},\n        { tempC: \"35.0\",  rtr25_ratio:\"0.69361\", alpha: \"3.6\"},\n        { tempC: \"40.0\",  rtr25_ratio:\"0.58186\", alpha: \"3.5\"},\n        \n        { tempC: \"45.0\",  rtr25_ratio:\"0.49036\", alpha: \"3.4\"},\n        { tempC: \"50.0\",  rtr25_ratio:\"0.41509\", alpha: \"3.3\"},\n        { tempC: \"55.0\",  rtr25_ratio:\"0.35288\", alpha: \"3.2\"},\n        { tempC: \"60.0\",  rtr25_ratio:\"0.30124\", alpha: \"3.1\"},\n        { tempC: \"65.0\",  rtr25_ratio:\"0.25818\", alpha: \"3.0\"},\n        \n        \n        { tempC: \"70.0\",  rtr25_ratio:\"0.22213\", alpha: \"3.0\"},\n        { tempC: \"75.0\",  rtr25_ratio:\"0.19183\", alpha: \"2.9\"},\n        { tempC: \"80.0\",  rtr25_ratio:\"0.16626\", alpha: \"2.8\"},\n        { tempC: \"85.0\",  rtr25_ratio:\"0.14460\", alpha: \"2.8\"},\n        { tempC: \"90.0\",  rtr25_ratio:\"0.12618\", alpha: \"2.7\"},\n        \n        { tempC: \"95.0\",  rtr25_ratio:\"0.11047\", alpha: \"2.6\"},\n        { tempC: \"100.0\",  rtr25_ratio:\"0.097017\", alpha: \"2.6\"},\n        { tempC: \"105.0\",  rtr25_ratio:\"0.085463\", alpha: \"2.5\"},\n        { tempC: \"110.0\",  rtr25_ratio:\"0.075506\", alpha: \"2.4\"},\n        { tempC: \"115.0\",  rtr25_ratio:\"0.066899\", alpha: \"2.4\"},\n        \n        { tempC: \"120.0\",  rtr25_ratio:\"0.059437\", alpha: \"2.3\"},\n        { tempC: \"125.0\",  rtr25_ratio:\"0.052948\", alpha: \"2.3\"},\n        { tempC: \"130.0\",  rtr25_ratio:\"0.047289\", alpha: \"2.2\"},\n        { tempC: \"135.0\",  rtr25_ratio:\"0.042341\", alpha: \"2.2\"},\n        { tempC: \"140.0\",  rtr25_ratio:\"0.038003\", alpha: \"2.1\"},\n        \n        { tempC: \"145.0\",  rtr25_ratio:\"0.034189\", alpha: \"2.1\"},\n        { tempC: \"150.0\",  rtr25_ratio:\"0.030828\", alpha: \"2.0\"},\n        { tempC: \"155.0\",  rtr25_ratio:\"0.027859\", alpha: \"2.0\"}\n         ]\n}\nmsg.datasheet = datasheet;\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":340,"wires":[[]]},{"id":"ef13e4fb.10ec18","type":"function","z":"d46a7cc.f2b958","name":"1st derivative - 2pt","func":"var oldtemp = context.get('lastTemp')||null;\nvar oldtime = context.get('lasttime')||null;\n//need two variables for previous two readings, stored in context\n\nvar nowtemp = parseFloat(msg.payload);\nvar nowtime = parseFloat(msg.timestamp); \n\nif (0===nowtime || null === nowtemp) return {payload: null}; //nothing to do\n\n//set the current data/timestamp to the previous value for next time\ncontext.set('lastTemp',nowtemp);\ncontext.set('lasttime',nowtime);\n\nvar timediff = (nowtime-oldtime).toFixed(0);//in milliseconds\n\n//dont bother if there aren't enough valid values\nif (null !== oldtemp && null !== oldtime && 0 !== timediff)\n{\n    msg.frequency = (3600000/timediff); //in count/hr\n    return {payload: (1000*(nowtemp - oldtemp)/timediff), topic:\"1st derivative (2pt)\", frequency: msg.frequency, timestamp: nowtime, timediff: timediff};\n\n}\nelse\n    return {payload: null, topic:\"1st derivative (2pt)\", frequency: null, timestamp: nowtime, timediff: timediff};\n","outputs":1,"noerr":0,"x":3360,"y":860,"wires":[["de366a8.f21c998","44ec9f7e.bb136","130abcee.ecf543","fee0c473.011f38","52ff53b5.ad00ac"]]},{"id":"ffe84116.0017c","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2190,"y":640,"wires":[]},{"id":"a7759331.588a7","type":"function","z":"d46a7cc.f2b958","name":"Steinhart-Hart Matrix (TempC)","func":"var KELVIN_CELCIUS_OFFSET = 273.16;\n\n//x is the length of the datasheet array\nvar xlength = 0;\nif (null !== msg.datasheet)\n    if (null !== msg.datasheet.data)\n        if (null !== msg.datasheet.data.length)\n            xlength = msg.datasheet.data.length;\nif (xlength < 3) return null; //wtf?  too few points\n\n//this is the RAW thermistor resistance calculated from ADC value  \nmsg.RTmeasured = msg.payload; //in ohms;\n//rtr25_ratio = ( resistance / nominal or measured resistance of THERMISTOR at 25C )\nif (\"Reference\"==msg.topic)\n    msg.normed_resistance = msg.payload/10000.0;//nominal\nelse\n    msg.normed_resistance = msg.payload/10000.0;//nominal\n      \n\n//look through datasheet values until the measurement \n//is within a local domain of datasheet points \n//(i.e. find which 3 nominal datasheet points to use for calculations)\nvar count = 0;\n//the 1st less-than comparison in the while only works if data is sorted ascending for an NTC thermistor\nwhile ( (msg.normed_resistance < msg.datasheet.data[count+1].rtr25_ratio) && (count+2 < xlength) ) \n{\n    count+=1;\n}\n\n//this extra step is for HUMAN (my) clarity\nvar h_minus = count;\nvar h_zero = count+1;\nvar h_plus = count+2;\n\n//three function points from datasheet\nvar fmh = parseFloat(msg.datasheet.data[h_minus].rtr25_ratio);   //f(-h)\nvar fz = parseFloat(msg.datasheet.data[h_zero].rtr25_ratio);  //f(0)\nvar fph = parseFloat(msg.datasheet.data[h_plus].rtr25_ratio); //f(+h)\nmsg.fmh = fmh; msg.fz = fz; msg.fph = fph; //make a copy in the msg body\n\n//store the calculated matrix values in the msg object\nmsg.matrixA = [   [1.0,Math.log(fmh),Math.pow(Math.log(fmh),3)],\n            [1.0,Math.log(fz),Math.pow(Math.log(fz),3)],\n            [1.0,Math.log(fph),Math.pow(Math.log(fph),3)]\n        ];\n        //need temperature in KELVIN for eqn\nmsg.matrixB = [   1.0/(parseFloat(msg.datasheet.data[h_minus].tempC) +KELVIN_CELCIUS_OFFSET), \n            1.0/(parseFloat(msg.datasheet.data[h_zero].tempC) +KELVIN_CELCIUS_OFFSET), \n            1.0/(parseFloat(msg.datasheet.data[h_plus].tempC) +KELVIN_CELCIUS_OFFSET)\n        ];\n \nvar goodMath = context.global.get('numericjs');\n\n//there is only a solution of the determinant is non-zero\nmsg.det = goodMath.det(msg.matrixA);\nif (0!==msg.det) \n{\n    //solution is a 3x1 matrix (product of 3x3 and 3x1 matrix)\n    msg.k = goodMath.dotMV(goodMath.inv(msg.matrixA),msg.matrixB); //the solution matrix in ohms\n    msg.SH_calculated_Tt = 1.0/(msg.k[0] + msg.k[1]*Math.log(msg.normed_resistance) + msg.k[2]*Math.pow(Math.log(msg.normed_resistance), 3) );\n}\nelse\n{\n    msg.SH_calculated_Tt = null;  //there is no solution; un-invertable matrix (with real numbers)\n}\n\nif (null !== msg.SH_calculated_Tt)  //if there was an answer to be had\n{\n    msg.payload = (msg.SH_calculated_Tt - KELVIN_CELCIUS_OFFSET).toPrecision(6); //payload in celcius\n\n    //only update the status for the refernce thermistor\n    //if (\"Reference\"==msg.topic)\n       node.status({text: \"TempC: \"+(msg.SH_calculated_Tt - KELVIN_CELCIUS_OFFSET).toPrecision(5)});\n\n    return msg;\n}\nelse return {payload: null};","outputs":1,"noerr":2,"x":2270,"y":580,"wires":[["4924ce0f.b6db3"]]},{"id":"38ad13d0.c752ec","type":"debug","z":"d46a7cc.f2b958","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2690,"y":580,"wires":[]},{"id":"d6687358.29979","type":"function","z":"d46a7cc.f2b958","name":"add TDK NTC B57164K 10k Thermister datasheet to payload","func":"//TODO:\n//the ka, kb, kc Steinhart-Hart constants should be calculated ONCE\n//for all of these entries, THEN passed on with the calculated values.\n\nvar datasheet =\n{\n    //seems to be 62 points in the datasheet for TDK B57991S Thermistors\n    //2908-type data, 2013 March version.  You got these from Alan.\n    desc: \"TDK B57164K0103+000 10k Thermistor Table\",\n    number: \"2904\",\n    nominalvalue: \"10000\", //ohms, 25C, 298K\n    B: \"4300\",\n    Bacc: \"0.03\", //plusminus 3%\n   data: [\n        { tempC: \"-55.0\",  rtr25_ratio:\"121.46\", alpha: \"7.4\"},\n        { tempC: \"-50.0\",  rtr25_ratio:\"84.439\", alpha: \"7.2\"},\n        { tempC: \"-45.0\",  rtr25_ratio:\"59.243\", alpha: \"7.1\"},\n        { tempC: \"-40.0\",  rtr25_ratio:\"41.938\", alpha: \"6.9\"},\n        { tempC: \"-35.0\",  rtr25_ratio:\"29.947\", alpha: \"6.7\"},\n        \n        { tempC: \"-30.0\",  rtr25_ratio:\"21.567\", alpha: \"6.6\"},\n        { tempC: \"-25.0\",  rtr25_ratio:\"15.641\", alpha: \"6.3\"},\n        { tempC: \"-20.0\",  rtr25_ratio:\"11.466\", alpha: \"6.2\"},\n        { tempC: \"-15.0\",  rtr25_ratio:\"8.4510\", alpha: \"6.0\"},\n        { tempC: \"-10.0\",  rtr25_ratio:\"6.2927\", alpha: \"5.9\"},\n        \n        { tempC: \"-5.0\",  rtr25_ratio:\"4.7077\", alpha: \"5.7\"},\n        { tempC: \"0.0\",  rtr25_ratio:\"3.5563\", alpha: \"5.5\"},\n        { tempC: \"5.0\",  rtr25_ratio:\"2.7119\", alpha: \"5.3\"},\n        { tempC: \"10.0\",  rtr25_ratio:\"2.0860\", alpha: \"5.1\"},\n        { tempC: \"15.0\",  rtr25_ratio:\"1.6204\", alpha: \"5.0\"},\n        \n        { tempC: \"20.0\",  rtr25_ratio:\"1.2683\", alpha: \"4.8\"},\n        { tempC: \"25.0\",  rtr25_ratio:\"1.0000\", alpha: \"4.7\"},\n        { tempC: \"30.0\",  rtr25_ratio:\"0.79420\", alpha: \"4.6\"},\n        { tempC: \"35.0\",  rtr25_ratio:\"0.63268\", alpha: \"4.5\"},\n        { tempC: \"40.0\",  rtr25_ratio:\"0.50740\", alpha: \"4.3\"},\n        \n        { tempC: \"45.0\",  rtr25_ratio:\"0.41026\", alpha: \"4.2\"},\n        { tempC: \"50.0\",  rtr25_ratio:\"0.33363\", alpha: \"4.1\"},\n        { tempC: \"55.0\",  rtr25_ratio:\"0.27243\", alpha: \"4.0\"},\n        { tempC: \"60.0\",  rtr25_ratio:\"0.22370\", alpha: \"3.9\"},\n        { tempC: \"65.0\",  rtr25_ratio:\"0.18459\", alpha: \"3.8\"},\n        \n        { tempC: \"70.0\",  rtr25_ratio:\"0.15305\", alpha: \"3.7\"},\n        { tempC: \"75.0\",  rtr25_ratio:\"0.12755\", alpha: \"3.6\"},\n        { tempC: \"80.0\",  rtr25_ratio:\"0.10677\", alpha: \"3.5\"},\n        { tempC: \"85.0\",  rtr25_ratio:\"0.089928\", alpha: \"3.4\"},\n        { tempC: \"90.0\",  rtr25_ratio:\"0.076068\", alpha: \"3.3\"},\n        \n        { tempC: \"95.0\",  rtr25_ratio:\"0.064524\", alpha: \"3.3\"},\n        { tempC: \"100.0\",  rtr25_ratio:\"0.054941\", alpha: \"3.2\"},\n        { tempC: \"105.0\",  rtr25_ratio:\"0.047003\", alpha: \"3.1\"},\n        { tempC: \"110.0\",  rtr25_ratio:\"0.040358\", alpha: \"3.0\"},\n        { tempC: \"115.0\",  rtr25_ratio:\"0.034743\", alpha: \"3.0\"},\n        \n        { tempC: \"120.0\",  rtr25_ratio:\"0.030007\", alpha: \"2.9\"},\n        { tempC: \"125.0\",  rtr25_ratio:\"0.026006\", alpha: \"2.8\"},\n        { tempC: \"130.0\",  rtr25_ratio:\"0.022609\", alpha: \"2.8\"},\n        { tempC: \"135.0\",  rtr25_ratio:\"0.019720\", alpha: \"2.7\"},\n        { tempC: \"140.0\",  rtr25_ratio:\"0.017251\", alpha: \"2.6\"},\n        \n        { tempC: \"145.0\",  rtr25_ratio:\"0.015139\", alpha: \"2.6\"},\n        { tempC: \"150.0\",  rtr25_ratio:\"0.013321\", alpha: \"2.5\"},\n        { tempC: \"155.0\",  rtr25_ratio:\"0.011754\", alpha: \"2.5\"}\n         ]\n}\nmsg.datasheet = datasheet;\nreturn msg;","outputs":1,"noerr":2,"x":1820,"y":580,"wires":[["ffe84116.0017c","a7759331.588a7"]]},{"id":"a047da45.5fb828","type":"comment","z":"d46a7cc.f2b958","name":"SPARE: unused part, but I encoded the datasheet values","info":"","x":2210,"y":300,"wires":[]},{"id":"837e975d.7c8168","type":"ui_chart","z":"d46a7cc.f2b958","d":true,"name":"","group":"190d0afc.e6f2f5","order":3,"width":"6","height":"7","label":"Thermistor ˚C","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"thermister calculated temperatures","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"1024","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":1640,"y":420,"wires":[[]]},{"id":"203ce045.dfc32","type":"delay","z":"d46a7cc.f2b958","name":"","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1090,"y":500,"wires":[["eb6c86fa.149378","d45fbbe7.2ba048"]]},{"id":"65f521af.9a0ae","type":"link in","z":"d46a7cc.f2b958","name":"To Thermister Temperature Graph","links":["889e0e4c.7761f"],"x":1375,"y":880,"wires":[["d624bf4a.29db4"]]},{"id":"d624bf4a.29db4","type":"delay","z":"d46a7cc.f2b958","name":"limit rate of incoming packets (lossy)","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1580,"y":880,"wires":[["f784285a.087bd8","e546e4e5.1ab918"]]},{"id":"f784285a.087bd8","type":"join","z":"d46a7cc.f2b958","name":"join In-Out T","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":1900,"y":1040,"wires":[["ada198d2.525e68"]]},{"id":"ada198d2.525e68","type":"function","z":"d46a7cc.f2b958","name":"diff+blackbody In-Out","func":"var bt = msg.payload[\"Basement Temperature\"];\nvar aft = msg.payload[\"Airport/Forks Temperature\"];\nvar kT4 = Math.pow(bt,4)-Math.pow(aft,4);\nconst sigma = 5.670373e-8;  //the Stefan–Boltzmann constant\n//for blackbody radiation,\n//  eta = 1; perfect blackbody\n//        0; perfect reflector\n//Use collected data to construct an estimate of eta for the house.\nconst eta = 1.0;  //grey body emissivity  1=ideal 0=sucks; data->eta estimate\nvar bob = {payload:(bt-aft),\n            topic:\"In-out DeltaT\",\n            kT4: (kT4).toPrecision(3),\n            netsurfacepowerdensity: (sigma*eta*kT4).toPrecision(3) //Watts/sqrmetre\n        }\nreturn bob;","outputs":1,"noerr":0,"x":2110,"y":1040,"wires":[["e546e4e5.1ab918","6e3cb0b5.91c35","f6053b5b.09fac8"]]},{"id":"e546e4e5.1ab918","type":"switch","z":"d46a7cc.f2b958","name":"sort temperature topics","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"Heat Vent","vt":"str"},{"t":"eq","v":"In-out DeltaT","vt":"str"},{"t":"eq","v":"Basement Temperature","vt":"str"},{"t":"eq","v":"Reference","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":2760,"y":880,"wires":[["d7d80821.2827f8","ef13e4fb.10ec18","399519ff.c66ae6","ec941283.136bf","751b8133.8ae48"],["d7d80821.2827f8"],["d7d80821.2827f8"],[]],"outputLabels":["heat vent","","",""]},{"id":"d7d80821.2827f8","type":"ui_chart","z":"d46a7cc.f2b958","name":"","group":"a62b14ff.59d4e8","order":1,"width":"6","height":"7","label":"House Temperatures ˚C","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Energy Compare","dot":false,"ymin":"","ymax":"","removeOlder":"60","removeOlderPoints":"512","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":3330,"y":940,"wires":[[]]},{"id":"de366a8.f21c998","type":"ui_chart","z":"d46a7cc.f2b958","name":"","group":"a62b14ff.59d4e8","order":5,"width":"6","height":"3","label":"dTvent/dt","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Heat Vent Derivative","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"512","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":3860,"y":860,"wires":[[]]},{"id":"44ec9f7e.bb136","type":"function","z":"d46a7cc.f2b958","name":"sample frequency","func":"if (msg.frequency)\n{\n    var x = (msg.frequency).toFixed(2);\n    node.status({text: x});\n    return {payload: \"\"+x, topic:\"frequency\"};\n}","outputs":1,"noerr":0,"x":3670,"y":780,"wires":[["a5e21b7e.5a1de8"]]},{"id":"293a8496.d6c57c","type":"inject","z":"d46a7cc.f2b958","name":"clear derivative data","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3670,"y":820,"wires":[["de366a8.f21c998"]]},{"id":"a5e21b7e.5a1de8","type":"ui_text","z":"d46a7cc.f2b958","group":"c49fd109.3b603","order":9,"width":0,"height":0,"name":"","label":"Frequency (samples/hour):","format":"{{msg.payload}}","layout":"row-left","x":3920,"y":780,"wires":[]},{"id":"4924ce0f.b6db3","type":"change","z":"d46a7cc.f2b958","name":"delete cruft","rules":[{"t":"delete","p":"datasheet","pt":"msg"},{"t":"delete","p":"matrixA","pt":"msg"},{"t":"delete","p":"matrixB","pt":"msg"},{"t":"delete","p":"k","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2520,"y":580,"wires":[["38ad13d0.c752ec","837e975d.7c8168","e546e4e5.1ab918"]]},{"id":"78fb2294.8704dc","type":"function","z":"d46a7cc.f2b958","name":"derivative (refactor me - see notes)","func":"//REFACTOR NOTES:\n//  -provide a ratio with time derivative\n//  -provide a difference with time derivative\n//  -provide a dTr/dTbmt derivative\n\nvar oldtemp = context.get('lastTemp')||parseFloat(msg.payload);\nvar oldtime = context.get('lasttime')||(new Date());\n//need two variables for previous two readings, stored in context\n//use 2nd order (quadratic) slope analysis with three points\n//(3rd point is msg.payload)\n\nvar nowtemp = parseFloat(msg.payload);\nvar nowtime = new Date();\ncontext.set('lastTemp',nowtemp);\n\nvar timediff = nowtime-oldtime;//in milliseconds\ncontext.set('lasttime',nowtime);\n\nif (0 !== timediff)\n{\n    msg.frequency = (3600000/timediff).toPrecision(3); //in count/hr\n    return {payload: (1000*(nowtemp - oldtemp)/timediff).toPrecision(3), topic:\"1st derivative\", frequency: msg.frequency};\n\n}\nelse\n    return null;","outputs":1,"noerr":0,"x":2680,"y":300,"wires":[[]]},{"id":"130abcee.ecf543","type":"function","z":"d46a7cc.f2b958","name":"Heat as on/off","func":"var last_furnace_state = context.get('last_furnace_state')||0;\nvar derivative = parseFloat(msg.payload);\nmsg.deriv = derivative;\n\nif (Math.abs(derivative) > +0.05) //heating up or cooling\n{\n    if (derivative > +0.05) //heating up or cooling\n        last_furnace_state =1; //on - heating\n    else \n        last_furnace_state =0; //off\n}\n\ncontext.set('last_furnace_state',last_furnace_state);\nmsg.payload = last_furnace_state;\n\nmsg.topic=\"Furnace State\";\nreturn msg;","outputs":1,"noerr":0,"x":3640,"y":720,"wires":[["7cc536.ff833ac8","dbd0ab50.242f58","c2689b3a.3d9768"]]},{"id":"1acbc59c.e5343a","type":"ui_text","z":"d46a7cc.f2b958","group":"c49fd109.3b603","order":4,"width":"4","height":"1","name":"Furnace ON/OFF text","label":"Furnace is  ","format":"{{msg.payload}}","layout":"row-left","x":4150,"y":420,"wires":[]},{"id":"a77378f.f588c88","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":4090,"y":460,"wires":[]},{"id":"1081a920.ef7e57","type":"inject","z":"d46a7cc.f2b958","name":"furnace 1","topic":"twest","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3660,"y":420,"wires":[["dbd0ab50.242f58"]]},{"id":"604f7d77.9fb084","type":"inject","z":"d46a7cc.f2b958","name":"furnace 0","topic":"twest","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3660,"y":380,"wires":[["dbd0ab50.242f58"]]},{"id":"7cc536.ff833ac8","type":"ui_chart","z":"d46a7cc.f2b958","name":"Binary Furnace History","group":"c49fd109.3b603","order":2,"width":"6","height":"3","label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Furnace On/Off as 1/0","dot":false,"ymin":"0","ymax":"1","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":4130,"y":540,"wires":[[]]},{"id":"dbd0ab50.242f58","type":"function","z":"d46a7cc.f2b958","name":"ON/OFF translate","func":"if (0 == msg.payload) return {payload:\"OFF\"};\nelse if (1 == msg.payload) return {payload:\" ON\"};\nelse return msg;","outputs":1,"noerr":0,"x":3890,"y":420,"wires":[["a77378f.f588c88","1acbc59c.e5343a"]]},{"id":"6e3cb0b5.91c35","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2390,"y":1040,"wires":[]},{"id":"241aae0.fdbe552","type":"function","z":"d46a7cc.f2b958","name":"select Icon","func":"msg.enabled = false; //disable clicking of the button - indication only\n\nswitch(msg.payload) {\n    case 0: msg.icon = 'fa-fire-extinguisher';\n            msg.color = 'blue';\n            break;\n    case 1: msg.icon = 'fa-fire';\n            msg.color = 'red';\n            break;\n    default: msg.icon = 'fa-bug';\n            msg.color = 'red';\n            break;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":4190,"y":720,"wires":[["b0fa1ba2.4f05e8","fe5645de.01a9b8"]]},{"id":"dc42798e.23bd88","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":4710,"y":760,"wires":[]},{"id":"b0fa1ba2.4f05e8","type":"ui_switch","z":"d46a7cc.f2b958","name":"Furnace Indicator","label":"","tooltip":"","group":"3e728e23.c18d72","order":2,"width":"1","height":"1","passthru":false,"decouple":"true","topic":"furnace state (switch)","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":4470,"y":740,"wires":[["dc42798e.23bd88"]]},{"id":"a404ba04.5bfb48","type":"function","z":"d46a7cc.f2b958","name":"on/off period measure","func":"var thenow = new Date();\nvar last_off_period = context.get('last_off_period')||null;\nvar last_on_period = context.get('last_on_period')||null;\nvar last_off_time = context.get('last_off_time')||thenow;\nvar last_on_time = context.get('last_on_time')||thenow;\nvar ison = false;\n\nswitch(msg.payload){\n    //furnace turns off\n    case 0: last_on_period = thenow - last_on_time;\n            last_off_time = thenow;\n            msg.last_on_period = last_on_period;\n            msg.payload = (last_on_period/60000).toFixed(2);\n            ison = false;\n            break;\n    //furnace turns on\n    case 1: last_off_period = thenow - last_off_time;\n            last_on_time = thenow;\n            msg.last_off_period = last_off_period;\n            msg.payload = (last_off_period/60000).toFixed(2);\n            ison = true;\n            break;\n    default:msg.payload = null; //mysterious input\n}\n\n//re-save the variables for next time.\ncontext.set('last_off_time',last_off_time);\ncontext.set('last_on_time',last_on_time);\ncontext.set('last_off_period',last_off_period);\ncontext.set('last_on_period',last_on_period);\n\n//don't pass data until it's valid, but pass the topic along to setup graph\nif ((null === msg.payload) || (null === last_off_period) || (null === last_on_period))\n{\n    node.status({fill:\"grey\",shape:\"ring\",text:\"waiting for enough valid data...\"});\n    msg.dutcycle = null;\n    msg.payload = null;\n    //send null data so nothing is plotted, but the time is incremented.\n    return [{payload: null, topic:\"off period\"},\n            {payload: null, topic:\"on period\"},\n            {payload: null, topic:\"duty cycle\"}];\n}\nelse\n{\n    msg.dutycycle = (100*last_on_period/(last_off_period+last_on_period)).toFixed(1);\n    if (ison)\n        node.status({fill:\"red\",shape:\"dot\",text:\"ON:\"+last_on_period+\" (mS), OFF:\"+last_off_period+\" (mS), DC: \"+msg.dutycycle});\n    else\n        node.status({fill:\"blue\",shape:\"ring\",text:\"ON:\"+last_on_period+\" (mS), OFF:\"+last_off_period+\" (mS), DC: \"+msg.dutycycle});\n\n    //[off period, on period, duty cycle]\n    return [{payload:(last_off_period/60000).toFixed(2),topic:\"off period\", units:\"minutes\",shortunits:\"min\"},\n            {payload: (last_on_period/60000).toFixed(2),topic:\"on period\", units:\"minutes\",shortunits:\"min\"}, \n            {payload: msg.dutycycle, topic:\"duty cycle\"}]; \n}","outputs":3,"noerr":0,"x":4150,"y":660,"wires":[["25cfb3b8.da304c","e0461644.1fb9e8","c783ef16.387c1"],["e0461644.1fb9e8","e6e8e08.f19172","c783ef16.387c1"],["697376bf.968c88","e0461644.1fb9e8"]],"outputLabels":["off","on","DC"]},{"id":"c2689b3a.3d9768","type":"rbe","z":"d46a7cc.f2b958","name":"rbe heat on/off","func":"rbei","gap":"","start":"","inout":"out","property":"payload","x":3930,"y":720,"wires":[["a404ba04.5bfb48","241aae0.fdbe552"]]},{"id":"25cfb3b8.da304c","type":"ui_text","z":"d46a7cc.f2b958","group":"c49fd109.3b603","order":7,"width":"3","height":"1","name":"","label":"last off period (mins):","format":"{{msg.payload}}","layout":"row-left","x":4770,"y":520,"wires":[]},{"id":"e6e8e08.f19172","type":"ui_text","z":"d46a7cc.f2b958","group":"c49fd109.3b603","order":6,"width":"3","height":"1","name":"","label":"last on period (mins)","format":"{{msg.payload}}","layout":"row-left","x":4770,"y":580,"wires":[]},{"id":"51ab26a9.ae54d8","type":"comment","z":"d46a7cc.f2b958","name":"S9V2 Furnace is 120,000 BTU per HOUR","info":"","x":4090,"y":380,"wires":[]},{"id":"dd723b70.228dc8","type":"ui_text","z":"d46a7cc.f2b958","group":"c49fd109.3b603","order":8,"width":"3","height":"1","name":"","label":"duty cycle (%): ","format":"{{msg.payload}}","layout":"row-left","x":4750,"y":660,"wires":[]},{"id":"697376bf.968c88","type":"function","z":"d46a7cc.f2b958","name":"duty cycle","func":"if (isNaN(msg.payload)) return null;\nelse {\n    msg.topic =\"Duty Cycle (%)\";\n    return msg;\n}","outputs":1,"noerr":0,"x":4450,"y":680,"wires":[["dd723b70.228dc8","b3b9d9a8.4c4628","a6b52a46.594ad8"]]},{"id":"fe5645de.01a9b8","type":"ui_switch","z":"d46a7cc.f2b958","name":"Furnace Indicator 2","label":"","tooltip":"","group":"c49fd109.3b603","order":5,"width":"1","height":"1","passthru":false,"decouple":"true","topic":"furnace state (switch)","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-fire","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"fa-fire-extinguisher","offcolor":"green","x":4480,"y":780,"wires":[["dc42798e.23bd88"]]},{"id":"e9f6cb0a.160938","type":"function","z":"d46a7cc.f2b958","name":"clear furnace state","func":"return {payload:0,topic:\"Furnace State\"};","outputs":1,"noerr":0,"x":3350,"y":720,"wires":[["130abcee.ecf543"]]},{"id":"11ac0e83.ee53f1","type":"inject","z":"d46a7cc.f2b958","name":"activate","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3150,"y":720,"wires":[["e9f6cb0a.160938"]]},{"id":"e0461644.1fb9e8","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":4370,"y":520,"wires":[]},{"id":"86f06a14.790f98","type":"inject","z":"d46a7cc.f2b958","name":"Heating Sensed (+dT/dt)","topic":"","payload":"+0.1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3340,"y":620,"wires":[["130abcee.ecf543"]]},{"id":"d8d3cec3.272c3","type":"inject","z":"d46a7cc.f2b958","name":"Cooling Sensed (-dT/dt)","topic":"","payload":"-0.1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3330,"y":660,"wires":[["130abcee.ecf543"]]},{"id":"1c9b9d1.fe36463","type":"ui_chart","z":"d46a7cc.f2b958","name":"kT4 graph (net surface power density)","group":"553da004.aac26","order":2,"width":"6","height":"3","label":"net Power Density (radiation loss)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"net surface power density (Watts/square metre)","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"8192","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":2270,"y":1120,"wires":[[]]},{"id":"f6053b5b.09fac8","type":"change","z":"d46a7cc.f2b958","name":"netsurfacepowerdensity to payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"netsurfacepowerdensity","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"net Surface Power Density (W/m^2)","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":1120,"wires":[["1c9b9d1.fe36463"]]},{"id":"14a3f125.eb5c0f","type":"inject","z":"d46a7cc.f2b958","name":"clear data","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1980,"y":1180,"wires":[["1c9b9d1.fe36463"]]},{"id":"b3b9d9a8.4c4628","type":"ui_gauge","z":"d46a7cc.f2b958","name":"DC gauge","group":"c49fd109.3b603","order":1,"width":0,"height":0,"gtype":"gage","title":"Furnace Duty Cycle","label":"Furnace Duty Cycle","format":"{{value | number:0}}%","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":4730,"y":700,"wires":[]},{"id":"d52b4def.2ad4b","type":"comment","z":"d46a7cc.f2b958","name":"Blackbody net Energy transfer Inside-Outside","info":"blackbody energy radiative transfer\nE = k (Ti^4 - To^4)  \nnot normalize with k","x":2010,"y":1000,"wires":[]},{"id":"8bebe1cf.74142","type":"comment","z":"d46a7cc.f2b958","name":"Sense & Interpret Basement 10k Thermistor","info":"","x":1630,"y":620,"wires":[]},{"id":"7ed08b06.812f74","type":"comment","z":"d46a7cc.f2b958","name":"Furnace Duty-Cycle","info":"DC = 100*Ton/(Toff + Ton)\n\nTon = time furnace on\nToff = time furnace off\n\nLast two values used.\n\nThe furnace must go through at slightly MORE\nthan one complete on-off or off-on cycle\nbefore the duty cycle value becomes valid.\nDefault: 0%","x":4100,"y":600,"wires":[]},{"id":"8830861a.77cf78","type":"comment","z":"d46a7cc.f2b958","name":"Heat Vent dT/dt as Proxy for d(Furnace On/Off)/dt ","info":"","x":3290,"y":800,"wires":[]},{"id":"c783ef16.387c1","type":"join","z":"d46a7cc.f2b958","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":4390,"y":900,"wires":[["b1c1bbab.4e3e48"]]},{"id":"b1c1bbab.4e3e48","type":"function","z":"d46a7cc.f2b958","name":"2-value Furnace DutyCycle","func":"var x = [\n    {\n        \"series\": [\"Furnace Duty Cycle\"],\n        \"data\": [   [   (parseFloat(msg.payload[\"on period\"])).toFixed(0),\n                        (parseFloat(msg.payload[\"off period\"])).toFixed(0)\n                ]   ],\n        \"labels\": [\"Furnace On (mins)\",\"Furnace Off (mins)\"]\n    }\n]\nreturn {payload:x, complete:true};","outputs":1,"noerr":0,"x":4610,"y":900,"wires":[["5dd1b001.a22e5"]]},{"id":"5dd1b001.a22e5","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":4830,"y":900,"wires":[]},{"id":"a6b52a46.594ad8","type":"ui_chart","z":"d46a7cc.f2b958","name":"7day duty cycle history","group":"c49fd109.3b603","order":3,"width":"6","height":"3","label":"duty cycle history","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"Duty Cycle history","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"0","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":4780,"y":620,"wires":[[]]},{"id":"399519ff.c66ae6","type":"ui_chart","z":"d46a7cc.f2b958","name":"","group":"a62b14ff.59d4e8","order":4,"width":"6","height":"3","label":"Tvent","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"Heat Vent Temperature","dot":false,"ymin":"","ymax":"","removeOlder":"6","removeOlderPoints":"512","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":2970,"y":780,"wires":[[]]},{"id":"a9e33170.561cd","type":"inject","z":"d46a7cc.f2b958","name":"clear data","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2800,"y":780,"wires":[["399519ff.c66ae6"]]},{"id":"2161559a.de9eaa","type":"inject","z":"d46a7cc.f2b958","name":"clear data","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":4440,"y":360,"wires":[["a6b52a46.594ad8","25cfb3b8.da304c","e6e8e08.f19172","b3b9d9a8.4c4628","dd723b70.228dc8"]]},{"id":"c6bd80d.f39428","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":4150,"y":1360,"wires":[]},{"id":"a1291d9e.5ed6e","type":"function","z":"d46a7cc.f2b958","name":"estimate Tau from T","func":"if (null === msg.payload) \n{\n    //pass along topic for setting up graphs, even if no data yet\n    return {payload: null, topic:\"Tau (minutes) - from Temperatures\"};\n}\n\nvar oldval = parseFloat(msg.payload[0]);\nvar latestval = parseFloat(msg.payload[1]);\n\nif (Math.abs(oldval)>0 && Math.abs(latestval)>0)\n{\n     //these temperatures aren't much more accurate than this\n    //throw away low-accuracy dataz\n    if (Math.abs(oldval-latestval)>0.5)\n    {\n        var ratio = oldval/latestval;\n        if (Math.abs(ratio)>0)\n        {\n            var tau = (parseFloat(msg.timediff)/1000)/ Math.log(ratio); //1000 scale for mS to S\n            tau = tau/60.0; //convert to minutes\n            \n            if (oldval-latestval > 0) //heating or cooling?\n            { \n                //cooling\n                node.status({fill:\"green\",shape:\"dot\", text:\"Tau OK : \"+tau.toFixed(0)+\" (cooling)\"});\n            }\n            else\n            {\n                //heating\n                node.status({fill:\"green\",shape:\"dot\", text:\"Tau OK : \"+tau.toFixed(0)+\" (heating)\"});\n            }\n            \n            if (tau > 0.01) //this calculation was only valid for exponential DECAY\n            {\n                return {payload: tau.toFixed(2), topic:\"Tau (minutes) - from Temperatures\"};\n            }\n        }\n        else\n        {\n            node.status({fill:\"red\",shape:\"dot\",text:\"Tau rejected (negative ratio values?)\"});\n        }\n    }\n           else\n        {\n            node.status({fill:\"red\",shape:\"dot\",text:\"Tau rejected (values too close)\"});\n        }\n}\nelse\n    node.status({fill:\"red\",shape:\"dot\",text:\"Tau rejected (zero value \"+oldval.toPrecision(3)+\" \"+latestval.toPrecision(3)+\")\"});\n\nreturn {payload: null, topic:\"Tau (minutes) - from Temperatures\"};","outputs":1,"noerr":0,"x":3910,"y":1420,"wires":[["c6bd80d.f39428","906066d1.6f9f98"]]},{"id":"79087fae.86f78","type":"inject","z":"d46a7cc.f2b958","name":"clear data","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3900,"y":540,"wires":[["7cc536.ff833ac8"]]},{"id":"5dc64f13.a239b","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":3850,"y":1360,"wires":[]},{"id":"906066d1.6f9f98","type":"ui_chart","z":"d46a7cc.f2b958","name":"","group":"551ae7d6.aae518","order":2,"width":"6","height":"3","label":"Tau (from T)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"Tau constant","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":4180,"y":1420,"wires":[[]]},{"id":"630ce854.9cf318","type":"inject","z":"d46a7cc.f2b958","name":"clear Tau graphs","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":3890,"y":1500,"wires":[["906066d1.6f9f98","8b0cc32.f74f34"]]},{"id":"fee0c473.011f38","type":"function","z":"d46a7cc.f2b958","name":"send sets of values with timediff","func":"var oldpoint = context.get('lastPoint')||{payload: null, topic: null,timestamp:null};\n\nvar nowtemp = parseFloat(msg.payload);\nvar nowtime = parseFloat(msg.timestamp); \nvar oldtemp = parseFloat(oldpoint.payload);\nvar oldtime = parseFloat(oldpoint.timestamp); \nif (0===nowtime|| 0===oldtime) return {payload: null};\n\ncontext.set('lastPoint',{payload:nowtemp, topic: \"f(t),t\",timestamp:nowtime});\n\nvar timediff = (nowtime-oldtime).toFixed(0);//in milliseconds\n\nif ((0 !== timediff) && oldtime && nowtime)\n{\n    node.status({text:\"p[0] = \"+oldtemp.toFixed(3)+\" : p[1] = \"+nowtemp.toFixed(3)+\" : tdiff = \"+timediff+\" mS\"});\n    return {payload: [oldtemp, nowtemp], timediff: timediff, topic:\"Two consecutive values w/ timediff\",timestamp:nowtime};\n}\nelse\n    return null;","outputs":1,"noerr":2,"x":3610,"y":1300,"wires":[["df7fc639.208038"]]},{"id":"df7fc639.208038","type":"function","z":"d46a7cc.f2b958","name":"estimate Tau from dT/dt","func":"if (null === msg.payload) \n{\n    //pass along topic for setting up graphs, even if no data yet\n    return {payload: null, topic:\"Tau (min) - from dT/dt\"};\n}\n\nvar oldval = parseFloat(msg.payload[0]);\nvar latestval = parseFloat(msg.payload[1]);\n\nif (Math.abs(oldval)>0 && Math.abs(latestval)>0)\n{\n    if (Math.abs(oldval-latestval)>0.002) //if not noise floor\n    {\n        var ratio = oldval/latestval;\n        if (Math.abs(ratio)>0)\n        {\n            var tau = (parseFloat(msg.timediff)/1000)/ Math.log(ratio); //1000 scale for mS to S\n            tau = tau/60.0; //convert to minutes\n            if (tau > 0.01) //this is only valid for analysing exponential DECAY\n            {\n                node.status({fill:\"green\",shape:\"dot\", text:\"Tau OK : \"+tau.toFixed(0)});\n                return {payload: tau, topic:\"Tau (min) - from dT/dt\"};\n            }\n        }\n        else\n        {\n            node.status({fill:\"red\",shape:\"dot\",text:\"Tau rejected (bad ratio)\"});\n        }\n    }\n    else\n    {\n        node.status({fill:\"red\",shape:\"dot\",text:\"Tau rejected (values too close)\"});\n    }\n}\nelse\n    node.status({fill:\"red\",shape:\"dot\",text:\"Tau rejected (zero value \"+oldval.toPrecision(3)+\" \"+latestval.toPrecision(3)+\")\"});\n\nreturn {payload: null, topic:\"Tau (min) - from dT/dt\"};","outputs":1,"noerr":0,"x":3920,"y":1300,"wires":[["8b0cc32.f74f34"]]},{"id":"8b0cc32.f74f34","type":"ui_chart","z":"d46a7cc.f2b958","name":"","group":"551ae7d6.aae518","order":4,"width":"6","height":"3","label":"Tau (from dT/dt)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"Tau constant","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"0","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":4190,"y":1300,"wires":[[]]},{"id":"191d5053.e6e2b","type":"comment","z":"d46a7cc.f2b958","name":"Estimate exponential time constant Tau","info":"","x":3790,"y":1240,"wires":[]},{"id":"bada153b.4525e8","type":"function","z":"d46a7cc.f2b958","name":"throw away first 10 readings","func":"const COUNTVAL = 10;\n\nvar count = parseInt(context.get('10count'));\nif (isNaN(count)) count = COUNTVAL;\n\nif (count<1)\n{\n    return msg;\n}\nelse\n{\n    node.status({fill:\"red\",shape:\"dot\", text:\"Discarded readings: \"+(COUNTVAL-count)});\n    if (null !== msg.payload && 0!==count)\n      count-=1;\n      \n    //do this here so the zero-check is only done COUNTVAL times\n    if (count<1) \n    {\n        node.status({fill:\"green\",shape:\"dot\", text:\"Pass-through mode\"});\n        context.set('10count',0);\n    }\n    else\n        context.set('10count',count);\n    return null;\n}","outputs":1,"noerr":0,"x":940,"y":660,"wires":[["203ce045.dfc32"]]},{"id":"ec941283.136bf","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2970,"y":820,"wires":[]},{"id":"52ff53b5.ad00ac","type":"debug","z":"d46a7cc.f2b958","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":3590,"y":880,"wires":[]},{"id":"f721d6b.f08de28","type":"catch","z":"d46a7cc.f2b958","name":"","scope":["b3b9d9a8.4c4628","697376bf.968c88","dd723b70.228dc8","25cfb3b8.da304c","e6e8e08.f19172"],"x":4600,"y":1060,"wires":[[]]},{"id":"5bd99c8.fa42664","type":"ui_numeric","z":"d46a7cc.f2b958","name":"Furnace BTU","label":"Furnace BTU","tooltip":"BTU of your Furnace (BTU=British Thermal Units)","group":"c49fd109.3b603","order":11,"width":"4","height":"1","passthru":true,"topic":"My Furnace BTU","format":"{{value}}","min":"10000","max":"200000","step":"10000","x":2400,"y":1460,"wires":[["4e581e44.b1a7e"]]},{"id":"2976a3a0.d6895c","type":"ui_switch","z":"d46a7cc.f2b958","name":"un/lock BTU","label":"un/lock BTU","tooltip":"","group":"c49fd109.3b603","order":10,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"un/lock BTU","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":1920,"y":1460,"wires":[["1648735f.e9b78d"]]},{"id":"1648735f.e9b78d","type":"function","z":"d46a7cc.f2b958","name":"enable/disable BTU input","func":"if (msg.payload)\n{\n    msg.topic = \"EDIT\";\n    msg.enabled = true;\n}\nelse\n{\n    msg.topic = \"Lock\";\n    msg.enabled = false;\n}\nreturn msg;","outputs":1,"noerr":0,"x":2160,"y":1460,"wires":[["5bd99c8.fa42664"]]},{"id":"4e581e44.b1a7e","type":"function","z":"d46a7cc.f2b958","name":"persisting BTU value","func":"if (msg.persBTU) return null; //don't keep looping\n\nvar persistentBTU = context.get('persBTU')||120000;\nif (msg.payload && (persistentBTU !== msg.payload))\n{\n    msg.persBTU = persistentBTU;\n    context.set('persBTU',msg.payload);\n}\n    \ncontext.set('persBTU',persistentBTU);\nmsg.payload = persistentBTU;\nreturn msg;","outputs":1,"noerr":0,"x":2650,"y":1460,"wires":[["1648735f.e9b78d"]]},{"id":"bff1eaf9.400e18","type":"comment","z":"d46a7cc.f2b958","name":"Set the on-state BTU of the Furnace","info":"","x":2180,"y":1400,"wires":[]},{"id":"751b8133.8ae48","type":"function","z":"d46a7cc.f2b958","name":"send sets of values with timediff","func":"var oldpoint = context.get('lastPoint')||{payload: null, topic: null,timestamp:null};\n\nvar nowtemp = parseFloat(msg.payload);\nvar nowtime = parseFloat(msg.timestamp); \nvar oldtemp = parseFloat(oldpoint.payload);\nvar oldtime = parseFloat(oldpoint.timestamp); \nif (0===nowtime || 0===oldtime) return {payload: null};\n\ncontext.set('lastPoint',{payload:nowtemp, topic: \"f(t),t\",timestamp:nowtime});\n\nvar timediff = (nowtime-oldtime).toFixed(0);//in milliseconds\n\nif ((0 !== timediff) && oldtime && nowtime)\n{\n    node.status({text:\"p[0] = \"+oldtemp.toFixed(3)+\" : p[1] = \"+nowtemp.toFixed(3)+\" : tdiff = \"+timediff+\" mS\"});\n    return {payload: [oldtemp, nowtemp], timediff: timediff, topic:\"Two consecutive values w/ timediff\",timestamp:nowtime};\n}\nelse\n    return null;","outputs":1,"noerr":2,"x":3610,"y":1420,"wires":[["a1291d9e.5ed6e","5dc64f13.a239b"]]},{"id":"e8683277.1797d","type":"comment","z":"d46a7cc.f2b958","name":"formerly the ncd-ads1115 node","info":"","x":380,"y":400,"wires":[]},{"id":"cd417b49.32be88","type":"function","z":"d46a7cc.f2b958","name":"","func":"//node.warn({payload:msg.topic});\nreturn msg;","outputs":1,"noerr":2,"x":430,"y":480,"wires":[["a5946bd.f5a6b98","b3402471.4cbfd8"]]},{"id":"3601c932.c9fe36","type":"mcp23017output","z":"33bf8f49.cc407","name":"a1","chip":"93a36686.6c5c98","bitNum":"1","invert":true,"x":2530,"y":580,"wires":[[]]},{"id":"3ad15861.c52ea8","type":"mcp23017output","z":"33bf8f49.cc407","name":"a3","chip":"93a36686.6c5c98","bitNum":"3","invert":true,"x":2530,"y":460,"wires":[[]]},{"id":"6f90e400.906f1c","type":"mcp23017output","z":"33bf8f49.cc407","name":"a5","chip":"93a36686.6c5c98","bitNum":"5","invert":true,"x":2530,"y":340,"wires":[[]]},{"id":"600eb5da.9ff14c","type":"mcp23017output","z":"33bf8f49.cc407","name":"a7","chip":"93a36686.6c5c98","bitNum":"7","invert":true,"x":2530,"y":220,"wires":[["acaed490.535128"]]},{"id":"6b9cd309.94632c","type":"mcp23017output","z":"33bf8f49.cc407","name":"a0","chip":"93a36686.6c5c98","bitNum":"0","invert":true,"x":2530,"y":640,"wires":[[]]},{"id":"1e289f8f.e1d76","type":"mcp23017output","z":"33bf8f49.cc407","name":"a2","chip":"93a36686.6c5c98","bitNum":"2","invert":true,"x":2530,"y":520,"wires":[[]]},{"id":"2cb58b2.fd34a74","type":"mcp23017output","z":"33bf8f49.cc407","name":"a4","chip":"93a36686.6c5c98","bitNum":"4","invert":true,"x":2530,"y":400,"wires":[[]]},{"id":"bd86db04.427928","type":"mcp23017output","z":"33bf8f49.cc407","name":"a6","chip":"93a36686.6c5c98","bitNum":"6","invert":true,"x":2530,"y":280,"wires":[[]]},{"id":"6ceec1f6.93114","type":"function","z":"33bf8f49.cc407","name":"single byte demux","func":"if (null===msg.payload) \n    return [{payload:\"null payload\"},\n                null,null,null,null,null,null,null,null];\n\nif ((0 > msg.payload) || (0xFF<msg.payload) )\n    return [{payload:\"out of range\"},\n                null,null,null,null,null,null,null,null];\nelse \n    return [{payload:\"success\",value:msg.payload},\n            {payload:(0x80&msg.payload)>>7},\n            {payload:(0x40&msg.payload)>>6},\n            {payload:(0x20&msg.payload)>>5},\n            {payload:(0x10&msg.payload)>>4},\n            {payload:(0x08&msg.payload)>>3},\n            {payload:(0x04&msg.payload)>>2},\n            {payload:(0x02&msg.payload)>>1},\n            {payload:0x01&msg.payload}];\n","outputs":9,"noerr":2,"x":2260,"y":400,"wires":[["74cc0fb0.8b33f"],["c52ed4d6.3ad128","600eb5da.9ff14c"],["c52ed4d6.3ad128","bd86db04.427928"],["c52ed4d6.3ad128","6f90e400.906f1c"],["c52ed4d6.3ad128","2cb58b2.fd34a74"],["c52ed4d6.3ad128","3ad15861.c52ea8"],["c52ed4d6.3ad128","1e289f8f.e1d76"],["c52ed4d6.3ad128","3601c932.c9fe36"],["c52ed4d6.3ad128","6b9cd309.94632c"]],"inputLabels":["single byte payload"],"outputLabels":["status","a7 (msb)","a6","a5","a4","a3","a2","a1","a0 (lsb)"],"info":"Input a single byte, output 8 bits"},{"id":"c3b92cc5.3c46d","type":"inject","z":"33bf8f49.cc407","name":"0xAA","topic":"","payload":"170","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2050,"y":280,"wires":[["6ceec1f6.93114"]]},{"id":"c52ed4d6.3ad128","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":2260,"y":520,"wires":[]},{"id":"74cc0fb0.8b33f","type":"debug","z":"33bf8f49.cc407","name":"status","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2270,"y":300,"wires":[]},{"id":"886dc5f4.779238","type":"inject","z":"33bf8f49.cc407","name":"","topic":"","payload":"255","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2050,"y":240,"wires":[["6ceec1f6.93114"]]},{"id":"6fe8c05a.90174","type":"inject","z":"33bf8f49.cc407","name":"0x55","topic":"","payload":"85","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2050,"y":320,"wires":[["6ceec1f6.93114"]]},{"id":"ab38f494.54c708","type":"inject","z":"33bf8f49.cc407","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2050,"y":360,"wires":[["6ceec1f6.93114"]]},{"id":"18e28b5d.e71d75","type":"trigger","z":"33bf8f49.cc407","op1":"true","op2":"0","op1type":"bool","op2type":"str","duration":"-1.6","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":1840,"y":420,"wires":[["789a6296.87659c"]]},{"id":"789a6296.87659c","type":"function","z":"33bf8f49.cc407","name":"random byte","func":"return {payload: (255*Math.random()).toFixed(0)};","outputs":1,"noerr":2,"x":2040,"y":420,"wires":[["6ceec1f6.93114"]]},{"id":"fe857e8d.017a8","type":"inject","z":"33bf8f49.cc407","name":"start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1790,"y":380,"wires":[["18e28b5d.e71d75"]]},{"id":"852175f0.7ade88","type":"comment","z":"33bf8f49.cc407","name":"Output byte to MCP23017 bus A","info":"","x":2280,"y":200,"wires":[]},{"id":"f60671bb.09f99","type":"catch","z":"33bf8f49.cc407","name":"catchall","scope":null,"uncaught":false,"x":320,"y":240,"wires":[["ed0aef0f.12f51"]]},{"id":"ed0aef0f.12f51","type":"debug","z":"33bf8f49.cc407","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":450,"y":240,"wires":[]},{"id":"c3a3396.f3c5cc8","type":"status","z":"33bf8f49.cc407","name":"","scope":null,"x":320,"y":200,"wires":[[]]},{"id":"db8159c7.247ea8","type":"inject","z":"33bf8f49.cc407","name":"stop","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1590,"y":380,"wires":[["49f18d58.b60e74"]]},{"id":"49f18d58.b60e74","type":"function","z":"33bf8f49.cc407","name":"add reset","func":"msg.reset = true;\nreturn msg;","outputs":1,"noerr":2,"x":1610,"y":420,"wires":[["18e28b5d.e71d75"]]},{"id":"acaed490.535128","type":"debug","z":"33bf8f49.cc407","name":"nothing comes out MCP23017 nodes","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2800,"y":220,"wires":[]},{"id":"c402973a.3bfd68","type":"mcp23017output","z":"33bf8f49.cc407","name":"b5 - Green","chip":"93a36686.6c5c98","bitNum":"13","invert":true,"x":1430,"y":980,"wires":[[]]},{"id":"50cc0e56.af33f","type":"mcp23017output","z":"33bf8f49.cc407","name":"b0 - pump enable","chip":"93a36686.6c5c98","bitNum":"8","invert":true,"x":1510,"y":1460,"wires":[[]]},{"id":"a2e6a0f2.5d196","type":"mcp23017output","z":"33bf8f49.cc407","name":"b4 - Red","chip":"93a36686.6c5c98","bitNum":"12","invert":true,"x":1420,"y":1040,"wires":[[]]},{"id":"18928a32.e76d76","type":"mcp23017output","z":"33bf8f49.cc407","name":"b6 - Blue","chip":"93a36686.6c5c98","bitNum":"14","invert":true,"x":1420,"y":920,"wires":[[]]},{"id":"1dc81a7.fe237e6","type":"ncd-ads1115","z":"d46a7cc.f2b958","d":true,"name":"proximate Fishinator Thermistors (x4)","connection":"f5d27efd.0a2d8","addr":"72","interval":"50","outputs":1,"output_all":0,"output_mult":1,"channel_1":"4","channel_2":"5","channel_3":"6","channel_4":"7","gain":"0","mode":"0","rate":"1","compMode":0,"compPol":0,"compLat":0,"compQueue":3,"delay":"100","x":190,"y":480,"wires":[["cd417b49.32be88","a5946bd.f5a6b98"]]},{"id":"dd969182.22697","type":"delay","z":"33bf8f49.cc407","name":"delay 42 sec","pauseType":"delayv","timeout":"42","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1000,"y":1540,"wires":[["21fe755c.de018a"]]},{"id":"65042252.9afbdc","type":"inject","z":"33bf8f49.cc407","name":"","topic":"Pump Single Cycle","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":220,"y":1460,"wires":[["9fb0952b.604f68"]]},{"id":"bcae85b7.435178","type":"function","z":"33bf8f49.cc407","name":"turn off pump","func":"return {payload:0,action:\"turning off fishtank pump\"};","outputs":1,"noerr":2,"x":800,"y":1540,"wires":[["dd969182.22697"]]},{"id":"c4f53b0a.3b0ac8","type":"inject","z":"33bf8f49.cc407","name":"","topic":"Pump Cycle every 15m FOREVER ","payload":"1","payloadType":"num","repeat":"1800","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1540,"wires":[["bcae85b7.435178","21fe755c.de018a"]]},{"id":"95575a4a.6aa8a8","type":"serial in","z":"33bf8f49.cc407","name":"input from bluetooth","serial":"60c982a6.9f367c","x":240,"y":3080,"wires":[["1d22d6e9.e2dd29","fa119d86.05ee6"]]},{"id":"1d22d6e9.e2dd29","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":440,"y":3140,"wires":[]},{"id":"fa119d86.05ee6","type":"csv","z":"33bf8f49.cc407","name":"CSV data to javascript object","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"Sensor,Reading,Units","skip":"0","strings":true,"x":510,"y":3080,"wires":[["8528c6c5.7ad738","2f4731a0.d0b8ce"]]},{"id":"8528c6c5.7ad738","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":3020,"wires":[]},{"id":"447f29f8.bb80d8","type":"catch","z":"33bf8f49.cc407","name":"catch csv error","scope":["fa119d86.05ee6"],"uncaught":false,"x":400,"y":3020,"wires":[["8528c6c5.7ad738"]]},{"id":"2f4731a0.d0b8ce","type":"function","z":"33bf8f49.cc407","name":"format graph packet","func":"//this whole function grew to be stupid.  it should go.\nvar mytimestamp = (new Date()).getTime();\n\nif (\"Tvolts\"==msg.payload.Sensor)  //ambient above-fish-below-growspace air temperature (thermistor 0.5-bridge)\n    return [{payload:msg.payload.Reading, \n                            topic:msg.payload.Sensor,\n                            timestamp:mytimestamp,\n                            units:msg.payload.Units }, null, null, null, null];\nelse if (\"T2volts\"==msg.payload.Sensor)  //Fish tank temperature (thermistor 0.5-bridge)\n    return [{payload:msg.payload.Reading, \n                            topic:msg.payload.Sensor,\n                            timestamp:mytimestamp,\n                            units:msg.payload.Units }, null, null, null, null];\nelse if (\"T3volts\"==msg.payload.Sensor)  //Growspace temperature (thermistor 0.5-bridge, from outside tank)\n    return [{payload:msg.payload.Reading, \n                            topic:msg.payload.Sensor,\n                            timestamp:mytimestamp,\n                            units:msg.payload.Units }, null, null, null, null];\nelse if (\"TvoltTest\"==msg.payload.Sensor)  \n    return [{payload:msg.payload.Reading, \n                            topic:msg.payload.Sensor,\n                            timestamp:mytimestamp,\n                            units:msg.payload.Units }, null, null, null, null];\n\nelse if (\"Lvolts\"==msg.payload.Sensor) //currently the ambient above-fish light voltage (CdS 0.5-bridge)\n    return [null, {payload:msg.payload.Reading, \n                            topic:msg.payload.Sensor,\n                            timestamp:mytimestamp,\n                            units:msg.payload.Units }, null, null, null];\nelse if (\"L2volts\"==msg.payload.Sensor)  //Growspace light voltage (CdS 0.5-bridge)\n    return [null, {payload:msg.payload.Reading, \n                            topic:msg.payload.Sensor,\n                            timestamp:mytimestamp,\n                            units:msg.payload.Units }, null, null, null];\n                            \nelse if ( \"VCCvolts\"==msg.payload.Sensor)\n    return [null, null, {payload:msg.payload.Reading, \n                            topic:msg.payload.Sensor,\n                            label:\"3.3v regulated\",\n                            units:msg.payload.Units }, null, null];\nelse if (\"BUSvolts\"==msg.payload.Sensor)\n    return [null, null, {payload:msg.payload.Reading, \n                            topic:msg.payload.Sensor,\n                            timestamp:mytimestamp,\n                            label:\"5v bus\",\n                            units:msg.payload.Units }, null, null];\n                            \nelse if (\"WaterDistance\"==msg.payload.Sensor)\n{\n    //ignore bad readings\n    if (1.9999 < msg.payload.Reading &&\n                 400 > msg.payload.Reading)\n            //return [null,null,null,{payload:Math.log(msg.payload.Reading), \n            return [null,null,null,{payload:msg.payload.Reading, \n                topic:msg.payload.Sensor,\n                timestamp:mytimestamp,\n                units:msg.payload.Units }, null];\n    else\n            return [null,null,null,null, { payload: \"This is an ignored Water Distance: \"+msg.payload.Reading}];\n}\nelse\n{\n    //something other than the measurements we expect\n    if (0.5 > Math.random(1.0)) node.status({text:\"Warning: Unexpected Measurement Topic\",fill:\"cyan\",shape:\"dot\",});\n    else node.status({text:\"Warning: Unexpected Measurement Topic\",fill:\"red\",shape:\"ring\",});\n    return [null,null,null,null, msg];\n}\n    ","outputs":5,"noerr":0,"x":780,"y":3080,"wires":[["926902f9.6d97","6bc64cc4.9439b4","ac46c748.53b938"],["926902f9.6d97","5890af26.a76f5","363e8677.c9c17a"],["926902f9.6d97","6269b3fb.9d964c"],["926902f9.6d97","bddd8efd.42227","99e6d7bb.661928"],["271c907b.d8e37"]],"outputLabels":["Thermal volts","Light volts","VCC volts","Distance","erroroneous packet"]},{"id":"926902f9.6d97","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":2940,"wires":[]},{"id":"ab54897d.54ab78","type":"ui_chart","z":"33bf8f49.cc407","name":"Graph: Thermal Voltage Sensors","group":"86c78d95.79387","order":4,"width":"6","height":"3","label":"thermistor voltage","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Thermistor sense voltage","dot":false,"ymin":"0.0","ymax":"3.3","removeOlder":"2","removeOlderPoints":"120","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1430,"y":3000,"wires":[[]]},{"id":"f9c99f73.06366","type":"inject","z":"33bf8f49.cc407","name":"clear data","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":660,"y":2180,"wires":[["81fc1d3d.7e03e"]]},{"id":"81fc1d3d.7e03e","type":"ui_button","z":"33bf8f49.cc407","name":"clear ui data","group":"d25d1ee3.2da2e","order":1,"width":"3","height":"1","passthru":true,"label":"clear data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"clear data","x":830,"y":2180,"wires":[["28d8b2bb.d7274e"]]},{"id":"5890af26.a76f5","type":"ui_chart","z":"33bf8f49.cc407","name":"Graph: Light Sense voltage (raw)","group":"86c78d95.79387","order":5,"width":"6","height":"4","label":"Light Sensor voltages (raw)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"CdS half-bridge sense voltage","dot":false,"ymin":"0.0","ymax":"3.3","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1290,"y":3100,"wires":[[]]},{"id":"2cde425.fd321be","type":"ui_chart","z":"33bf8f49.cc407","name":"Graph: DC Voltage(s)","group":"86c78d95.79387","order":6,"width":"6","height":"4","label":"DC Voltages","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0.0","ymax":"5.5","removeOlder":"2","removeOlderPoints":"120","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1710,"y":3280,"wires":[[]]},{"id":"faad697b.055298","type":"function","z":"33bf8f49.cc407","name":"alarm 3.3volts level for 3.3v bus","func":"//this comes from the 3.3v regulated voltage \nif (\"VCCvolts\"==msg.topic) \n{\n  if(3.1 > msg.payload)\n  {\n      msg.topic = \"LOW 3.3v\";\n      msg.nalarm = 0; //active low\n  }\n  else\n  {\n      msg.topic = \"RF Sense Cluster 3.3v (reg)\";\n      msg.nalarm = 1;\n  }\n}\nelse if (\"BUSvolts\"==msg.topic)\n{\n      msg.topic = \"RF Sense Cluster 5.0v (bus)\";\n}\nreturn msg;","outputs":1,"noerr":2,"x":1380,"y":3220,"wires":[["2cde425.fd321be","2ae7512f.d518ae"]]},{"id":"6269b3fb.9d964c","type":"delay","z":"33bf8f49.cc407","name":"limit data","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1140,"y":3220,"wires":[["faad697b.055298"]]},{"id":"33fa1709.cc05e8","type":"function","z":"33bf8f49.cc407","name":"convert voltage to resistance","func":"var MAXREADING = 3.3; //volts\n//var MAXREADING = 3.7; //volts in green protoboard test\nvar resistance = 0.0;\n\n//this is an attempt at a patch for the\n//green prototype board regulating to 3.72 volts, but\n//then the arduino software scaling it to 3.3v.\nmsg.payload = (3.7/3.3)*msg.payload;\n\n//the reference resistance is a known value for the system; use it.\nvar REFERENCE_PULLUP_MEASURED = 10000; //pullup to vcc on 10k thermistor\n//var REFERENCE_PULLUP_MEASURED = 20000; //pullup to vcc green protoboard backwards hypothesis\nmsg.reference_pullup_measured = REFERENCE_PULLUP_MEASURED;\n/*\nif (\"Ambient@electronics\"==msg.topic)\n{*/\n    //old cruft\n    msg.voltage = msg.payload;\n    resistance =REFERENCE_PULLUP_MEASURED*(msg.payload/(MAXREADING-msg.payload));\n    node.status({text:\"R_t: \"+resistance.toFixed(0)+\" (ohms)\"});\n/*}\nelse \n    resistance =REFERENCE_PULLUP_MEASURED*(msg.payload/(MAXREADING-msg.payload)); //10k nominal\n  */  \nmsg.payload = resistance.toFixed(0);\n//node.status({text:\"R_t: \"+msg.payload+\" (ohms)\"});\nreturn msg;","outputs":1,"noerr":0,"x":1790,"y":3060,"wires":[["c603f2f9.39fc1","f7664268.0899c"]]},{"id":"c603f2f9.39fc1","type":"function","z":"33bf8f49.cc407","name":"add TDK NTC B57164K 10k Thermister datasheet to payload","func":"//TODO:\n//the ka, kb, kc Steinhart-Hart constants should be calculated ONCE\n//for all of these entries, THEN passed on with the calculated values.\n\nvar datasheet =\n{\n    //seems to be 62 points in the datasheet for TDK B57991S Thermistors\n    //2908-type data, 2013 March version.  You got these from Alan.\n    desc: \"TDK B57164K0103+000 10k Thermistor Table\",\n    errata: \"The K-series have +-10% resistance, J-series +-5%\",\n    number: \"2904\",\n    nominalvalue: \"10000\", //ohms, 25C, 298K\n    B: \"4300\",  //B25/100\n    Bacc: \"0.03\", //plusminus 3% on B25/100\n   data: [\n        { tempC: \"-55.0\",  rtr25_ratio:\"121.46\", alpha: \"7.4\"},\n        { tempC: \"-50.0\",  rtr25_ratio:\"84.439\", alpha: \"7.2\"},\n        { tempC: \"-45.0\",  rtr25_ratio:\"59.243\", alpha: \"7.1\"},\n        { tempC: \"-40.0\",  rtr25_ratio:\"41.938\", alpha: \"6.9\"},\n        { tempC: \"-35.0\",  rtr25_ratio:\"29.947\", alpha: \"6.7\"},\n        \n        { tempC: \"-30.0\",  rtr25_ratio:\"21.567\", alpha: \"6.6\"},\n        { tempC: \"-25.0\",  rtr25_ratio:\"15.641\", alpha: \"6.3\"},\n        { tempC: \"-20.0\",  rtr25_ratio:\"11.466\", alpha: \"6.2\"},\n        { tempC: \"-15.0\",  rtr25_ratio:\"8.4510\", alpha: \"6.0\"},\n        { tempC: \"-10.0\",  rtr25_ratio:\"6.2927\", alpha: \"5.9\"},\n        \n        { tempC: \"-5.0\",  rtr25_ratio:\"4.7077\", alpha: \"5.7\"},\n        { tempC: \"0.0\",  rtr25_ratio:\"3.5563\", alpha: \"5.5\"},\n        { tempC: \"5.0\",  rtr25_ratio:\"2.7119\", alpha: \"5.3\"},\n        { tempC: \"10.0\",  rtr25_ratio:\"2.0860\", alpha: \"5.1\"},\n        { tempC: \"15.0\",  rtr25_ratio:\"1.6204\", alpha: \"5.0\"},\n        \n        { tempC: \"20.0\",  rtr25_ratio:\"1.2683\", alpha: \"4.8\"},\n        { tempC: \"25.0\",  rtr25_ratio:\"1.0000\", alpha: \"4.7\"},\n        { tempC: \"30.0\",  rtr25_ratio:\"0.79420\", alpha: \"4.6\"},\n        { tempC: \"35.0\",  rtr25_ratio:\"0.63268\", alpha: \"4.5\"},\n        { tempC: \"40.0\",  rtr25_ratio:\"0.50740\", alpha: \"4.3\"},\n        \n        { tempC: \"45.0\",  rtr25_ratio:\"0.41026\", alpha: \"4.2\"},\n        { tempC: \"50.0\",  rtr25_ratio:\"0.33363\", alpha: \"4.1\"},\n        { tempC: \"55.0\",  rtr25_ratio:\"0.27243\", alpha: \"4.0\"},\n        { tempC: \"60.0\",  rtr25_ratio:\"0.22370\", alpha: \"3.9\"},\n        { tempC: \"65.0\",  rtr25_ratio:\"0.18459\", alpha: \"3.8\"},\n        \n        { tempC: \"70.0\",  rtr25_ratio:\"0.15305\", alpha: \"3.7\"},\n        { tempC: \"75.0\",  rtr25_ratio:\"0.12755\", alpha: \"3.6\"},\n        { tempC: \"80.0\",  rtr25_ratio:\"0.10677\", alpha: \"3.5\"},\n        { tempC: \"85.0\",  rtr25_ratio:\"0.089928\", alpha: \"3.4\"},\n        { tempC: \"90.0\",  rtr25_ratio:\"0.076068\", alpha: \"3.3\"},\n        \n        { tempC: \"95.0\",  rtr25_ratio:\"0.064524\", alpha: \"3.3\"},\n        { tempC: \"100.0\",  rtr25_ratio:\"0.054941\", alpha: \"3.2\"},\n        { tempC: \"105.0\",  rtr25_ratio:\"0.047003\", alpha: \"3.1\"},\n        { tempC: \"110.0\",  rtr25_ratio:\"0.040358\", alpha: \"3.0\"},\n        { tempC: \"115.0\",  rtr25_ratio:\"0.034743\", alpha: \"3.0\"},\n        \n        { tempC: \"120.0\",  rtr25_ratio:\"0.030007\", alpha: \"2.9\"},\n        { tempC: \"125.0\",  rtr25_ratio:\"0.026006\", alpha: \"2.8\"},\n        { tempC: \"130.0\",  rtr25_ratio:\"0.022609\", alpha: \"2.8\"},\n        { tempC: \"135.0\",  rtr25_ratio:\"0.019720\", alpha: \"2.7\"},\n        { tempC: \"140.0\",  rtr25_ratio:\"0.017251\", alpha: \"2.6\"},\n        \n        { tempC: \"145.0\",  rtr25_ratio:\"0.015139\", alpha: \"2.6\"},\n        { tempC: \"150.0\",  rtr25_ratio:\"0.013321\", alpha: \"2.5\"},\n        { tempC: \"155.0\",  rtr25_ratio:\"0.011754\", alpha: \"2.5\"}\n         ]\n}\nmsg.datasheet = datasheet;\nreturn msg;","outputs":1,"noerr":0,"x":1900,"y":3000,"wires":[["f596c51f.0a6938","f7664268.0899c"]]},{"id":"f596c51f.0a6938","type":"function","z":"33bf8f49.cc407","name":"Steinhart-Hart Matrix (TempC)","func":"var KELVIN_CELCIUS_OFFSET = 273.16;\n\n//x is the length of the datasheet array\nvar xlength = 0;\nif (null !== msg.datasheet)\n    if (null !== msg.datasheet.data)\n        if (null !== msg.datasheet.data.length)\n            xlength = msg.datasheet.data.length;\nif (xlength < 3) return null; //wtf?  too few points\n\n//this is the RAW thermistor resistance calculated from ADC value  \nmsg.RTmeasured = msg.payload; //in ohms;\n//rtr25_ratio = ( resistance / nominal or measured resistance of THERMISTOR at 25C )\nif (\"Reference\"==msg.topic)\n    msg.normed_resistance = msg.payload/10000.0;//nominal\nelse\n    msg.normed_resistance = msg.payload/10000.0;//nominal\n      \n\n//look through datasheet values until the measurement \n//is within a local domain of datasheet points \n//(i.e. find which 3 nominal datasheet points to use for calculations)\nvar count = 0;\n//the 1st less-than comparison in the while only works if data is sorted ascending for an NTC thermistor\nwhile ( (msg.normed_resistance < msg.datasheet.data[count+1].rtr25_ratio) && (count+2 < xlength) ) \n{\n    count+=1;\n}\n\n//this extra step is for HUMAN (my) clarity\nvar h_minus = count;\nvar h_zero = count+1;\nvar h_plus = count+2;\n\n//three function points from datasheet\nvar fmh = parseFloat(msg.datasheet.data[h_minus].rtr25_ratio);   //f(-h)\nvar fz = parseFloat(msg.datasheet.data[h_zero].rtr25_ratio);  //f(0)\nvar fph = parseFloat(msg.datasheet.data[h_plus].rtr25_ratio); //f(+h)\nmsg.fmh = fmh; msg.fz = fz; msg.fph = fph; //make a copy in the msg body\n\n//store the calculated matrix values in the msg object\nmsg.matrixA = [   [1.0,Math.log(fmh),Math.pow(Math.log(fmh),3)],\n            [1.0,Math.log(fz),Math.pow(Math.log(fz),3)],\n            [1.0,Math.log(fph),Math.pow(Math.log(fph),3)]\n        ];\n        //need temperature in KELVIN for eqn\nmsg.matrixB = [   1.0/(parseFloat(msg.datasheet.data[h_minus].tempC) +KELVIN_CELCIUS_OFFSET), \n            1.0/(parseFloat(msg.datasheet.data[h_zero].tempC) +KELVIN_CELCIUS_OFFSET), \n            1.0/(parseFloat(msg.datasheet.data[h_plus].tempC) +KELVIN_CELCIUS_OFFSET)\n        ];\n \nvar goodMath = context.global.get('numericjs');\n\n//there is only a solution of the determinant is non-zero\nmsg.det = goodMath.det(msg.matrixA);\nif (0!==msg.det) \n{\n    //solution is a 3x1 matrix (product of 3x3 and 3x1 matrix)\n    msg.k = goodMath.dotMV(goodMath.inv(msg.matrixA),msg.matrixB); //the solution matrix in ohms\n    msg.SH_calculated_Tt = 1.0/(msg.k[0] + msg.k[1]*Math.log(msg.normed_resistance) + msg.k[2]*Math.pow(Math.log(msg.normed_resistance), 3) );\n}\nelse\n{\n    msg.SH_calculated_Tt = null;  //there is no solution; un-invertable matrix (with real numbers)\n}\n\nif (null !== msg.SH_calculated_Tt)  //if there was an answer to be had\n{\n    msg.payload = (msg.SH_calculated_Tt - KELVIN_CELCIUS_OFFSET).toPrecision(6); //payload in celcius\n\n     node.status({text: \"( \"+msg.topic+\" ) TempC: \"+(msg.SH_calculated_Tt - KELVIN_CELCIUS_OFFSET).toPrecision(5)});\n\n    return msg;\n}\nelse return {payload: null};","outputs":1,"noerr":0,"x":2330,"y":3000,"wires":[["c0edd2c6.3f123","f7664268.0899c"]]},{"id":"c0edd2c6.3f123","type":"change","z":"33bf8f49.cc407","name":"delete cruft","rules":[{"t":"delete","p":"datasheet","pt":"msg"},{"t":"delete","p":"matrixA","pt":"msg"},{"t":"delete","p":"matrixB","pt":"msg"},{"t":"delete","p":"k","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2610,"y":3000,"wires":[["f7664268.0899c","1eaf0f4d.e150f1"]]},{"id":"f7664268.0899c","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2850,"y":3060,"wires":[]},{"id":"7f1441bc.80ebc","type":"ui_chart","z":"33bf8f49.cc407","name":"Graph: Fishinator Temperatures","group":"a12e1682.5ed1e8","order":7,"width":"6","height":"6","label":"Fishinator Temperatures","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Fishinator Temperatures","dot":false,"ymin":"10","ymax":"30","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":3140,"y":2920,"wires":[[]]},{"id":"6bc64cc4.9439b4","type":"delay","z":"33bf8f49.cc407","name":"limit data","pauseType":"timed","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1140,"y":3060,"wires":[["3614582f.c9eba8"]]},{"id":"3614582f.c9eba8","type":"change","z":"33bf8f49.cc407","name":"Set Thermal voltage packet topic/units","rules":[{"t":"set","p":"units","pt":"msg","to":"Celcius","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1450,"y":3060,"wires":[["33fa1709.cc05e8"]]},{"id":"ac46c748.53b938","type":"delay","z":"33bf8f49.cc407","name":"limit data","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":1140,"y":3000,"wires":[["ab54897d.54ab78"]]},{"id":"adcbdac6.523428","type":"ui_chart","z":"33bf8f49.cc407","name":"","group":"b6208251.49df8","order":2,"width":"6","height":"5","label":"Graph: df(t)/dt (cm/sec)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"step","nodata":"df(t)/dt","dot":false,"ymin":"-0.375","ymax":"+0.25","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#dce716","#d62728","#ff9896","#9467bd","#1b5f5a"],"useOldStyle":false,"outputs":1,"x":1850,"y":2520,"wires":[[]]},{"id":"8be292e0.741d7","type":"inject","z":"33bf8f49.cc407","name":"clear derivative data","topic":"","payload":"[]","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1280,"y":2600,"wires":[["66d5da52.992a24"]]},{"id":"1aec9473.e5136c","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1790,"y":2480,"wires":[]},{"id":"5596fed7.aa69","type":"function","z":"33bf8f49.cc407","d":true,"name":"1st derivative - 3pt","func":"var twoPtHistory = context.get('pthistory')||[{Temperature:null, topic: \"invalid init temp 0\",timestamp:null}, \n                                    {Temperature:null, topic: \"invalid init temp 1\",timestamp:null}];\n                                                \n//var oldtemp = context.get('lastTemp')||parseFloat(msg.payload);\n//var oldtime = context.get('lasttime')||(new Date());\n//need two variables for previous two readings, stored in context\n//use 2nd order (quadratic) slope analysis with three points\n//(3rd point is msg.payload)\n\nvar nowtemp = parseFloat(msg.payload);\nvar nowtime = parseFloat(msg.timestamp); \nif (0===nowtime) return {payload: null};\n\nvar timediff = (nowtime-twoPtHistory[1].timestamp).toFixed(0);//in milliseconds\n\n//shift the data for next time (lose oldest sample point).   2->1  1->0  0->gone\ncontext.set('pthistory',[{Temperature:twoPtHistory[1].Temperature, topic: \"temperature n-2\",timestamp:twoPtHistory[1].timestamp}, \n                                    {Temperature:nowtemp, topic: \"temperature n-1\",timestamp:nowtime}  ] );\n\nif (0 !== timediff && null !== twoPtHistory[0].Temperature)  //all 3 pts available\n{\n    //this forward derivative has error Order(h^2)\n    var deriv = (twoPtHistory[0].Temperature -4*(twoPtHistory[1].Temperature) +3*nowtemp)/(2*timediff);\n    msg.frequency = (3600000/timediff); //in count/hr\n    return {payload: Number(1000*deriv).toFixed(3), topic:\"d(\"+msg.topic+\")/dt (3pt)\", frequency: msg.frequency, timestamp: nowtime, timediff: timediff};\n\n}\nelse\n{\n    //could use this branch to calculate the 2pt 1st derivative - error Order(h)\n    //e.g.\n    /*\n    if (0 !== timediff && null !== twoPtHistory[1].Temperature)\n    {\n        return {payload: \"Two point derivative\"};\n    }  else  */\n    return {payload: null, topic:\"d(\"+msg.topic+\")/dt (3pt)\", frequency: null, timestamp: nowtime, timediff: timediff};\n}","outputs":1,"noerr":0,"x":1540,"y":2520,"wires":[["6c13218d.93ece","adcbdac6.523428"]]},{"id":"d1dcc9ec.2e2338","type":"function","z":"33bf8f49.cc407","name":"1st derivative - 2pt","func":"var oldtemp = context.get('lastTemp')||null;\nvar oldtime = context.get('lasttime')||null;\n//need two variables for previous two readings, stored in context\n\nvar nowtemp = parseFloat(msg.payload);\nvar nowtime = parseFloat(msg.timestamp); \n\nif (0===nowtime || null === nowtemp) return {payload: null}; //nothing to do\n\n//set the current data/timestamp to the previous value for next time\ncontext.set('lastTemp',nowtemp);\ncontext.set('lasttime',nowtime);\n\nvar timediff = (nowtime-oldtime).toFixed(0);//in milliseconds\n\n//dont bother if there aren't enough valid values\nif (null !== oldtemp && null !== oldtime && 0 !== timediff)\n{\n    msg.frequency = (3600000/timediff); //in count/hr\n    \n    //stop the d/dt noise at the edge of signal resolution\n    measurementdiff = nowtemp - oldtemp;\n    if (Math.abs(measurementdiff) < 0.4) //max resolution is within +-0.3cm on ultrasonic sensor\n        return {payload: Number(0).toFixed(3), topic:\"d(\"+msg.topic+\")/dt (2pt)\", frequency: msg.frequency, timestamp: nowtime, timediff: timediff};\n    else\n        return {payload: Number(1000*measurementdiff/timediff).toFixed(3), topic:\"d(\"+msg.topic+\")/dt (2pt)\", frequency: msg.frequency, timestamp: nowtime, timediff: timediff};\n}\n/*\nelse\n    return {payload: null, topic:\"d(\"+msg.topic+\")/dt (2pt)\", frequency: null, timestamp: nowtime, timediff: timediff};\n*/","outputs":1,"noerr":0,"x":1540,"y":2480,"wires":[["adcbdac6.523428","1aec9473.e5136c","6f4eabef.90b154","b4e59789.4b1a68"]]},{"id":"6c13218d.93ece","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1790,"y":2560,"wires":[]},{"id":"9f29efb3.60d61","type":"function","z":"33bf8f49.cc407","name":"send sets of values with timediff","func":"var oldpoint = context.get('lastPoint')||{payload: null, topic: null,timestamp:null};\n\nvar nowtemp = parseFloat(msg.payload);\nvar nowtime = parseFloat(msg.timestamp); \nvar oldtemp = parseFloat(oldpoint.payload);\nvar oldtime = parseFloat(oldpoint.timestamp); \nif (0===nowtime || 0===oldtime) return {payload: null};\n\ncontext.set('lastPoint',{payload:nowtemp, topic: \"f(t),t\",timestamp:nowtime});\n\nvar timediff = (nowtime-oldtime).toFixed(0);//in milliseconds\n\nif ((0 !== timediff) && oldtime && nowtime)\n{\n    node.status({text:\"p[0] = \"+oldtemp.toFixed(3)+\" : p[1] = \"+nowtemp.toFixed(3)+\" : tdiff = \"+timediff+\" mS\"});\n    return {payload: [oldtemp, nowtemp], timediff: timediff, topic:\"f(t)\",timestamp:nowtime};\n}\nelse\n    return null;","outputs":1,"noerr":2,"x":1220,"y":2520,"wires":[["d1dcc9ec.2e2338","5596fed7.aa69"]]},{"id":"da0ce4a8.25f318","type":"function","z":"33bf8f49.cc407","name":"//add timestamp","func":"//msg.timestamp = (new Date()).getTime();\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":2520,"wires":[["baa44b50.455bb8","c3ceef6e.3c311"]]},{"id":"66d5da52.992a24","type":"ui_button","z":"33bf8f49.cc407","name":"clear derivative data","group":"b6208251.49df8","order":5,"width":"3","height":"1","passthru":true,"label":"clear derivative data","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"clear derivative data","x":1540,"y":2600,"wires":[["adcbdac6.523428"]]},{"id":"9fb0952b.604f68","type":"ui_button","z":"33bf8f49.cc407","name":"Pump Once","group":"1a48274b.e5b7d9","order":1,"width":"6","height":"1","passthru":true,"label":"Pump Once","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"clear data","x":540,"y":1460,"wires":[["bcae85b7.435178","21fe755c.de018a"]]},{"id":"1bd086ba.e42f79","type":"comment","z":"33bf8f49.cc407","name":"HAL9000 Laser","info":"","x":220,"y":780,"wires":[]},{"id":"4408f8fc.bbf708","type":"rpi-gpio in","z":"33bf8f49.cc407","name":"HIGH WATER ALARM (Grow Bed) - active LOW","pin":"7","intype":"tri","debounce":"25","read":true,"x":280,"y":1660,"wires":[["b36d7f3e.4c928","bee2256.f411dd8","4daab7c2.b37788"]]},{"id":"cad94f88.3526b","type":"ui_text","z":"33bf8f49.cc407","group":"f36b4e61.0c94b","order":1,"width":"6","height":"1","name":"Growbed Alarm text","label":"Growbed Alarm: ","format":"{{msg.payload}}","layout":"row-spread","x":960,"y":1600,"wires":[]},{"id":"b36d7f3e.4c928","type":"function","z":"33bf8f49.cc407","name":"condition payload","func":"if (1==msg.payload)\n{   \n    str = \"Idling\";\n    return {payload: str.fontcolor(\"green\")};\n}\nelse\n{   \n    str = \"FLOOD: pump disabled\";\n    return {payload: str.fontcolor(\"red\")};\n}","outputs":1,"noerr":2,"x":710,"y":1600,"wires":[["cad94f88.3526b"]]},{"id":"f415b711.0bea48","type":"ui_text","z":"33bf8f49.cc407","group":"f36b4e61.0c94b","order":7,"width":"6","height":"1","name":"Pump Status text","label":"Pump Status: ","format":"{{msg.payload}}","layout":"row-spread","x":1770,"y":1540,"wires":[]},{"id":"6ac8d801.953728","type":"function","z":"33bf8f49.cc407","name":"condition display string","func":"\nif (1==msg.payload)\n{   \n    str = \"Enabled\";\n    return {payload: str.fontcolor(\"green\")};\n}\nelse\n{   \n    str = \"Disabled\";\n    return {payload: str.fontcolor(\"black\")};\n}","outputs":1,"noerr":2,"x":1530,"y":1540,"wires":[["f415b711.0bea48"]]},{"id":"6698c4b.f99673c","type":"function","z":"33bf8f49.cc407","name":"Fish Tank Level Alarm Handler","func":"var alarmdepth = context.get('CONalarmdepth')||(25.0); //25.0 failsafe value\nvar str;\n\nif (\"SetDepthAlarmcm\"==msg.topic)\n{\n    //this should be single-coded with the widget limits\n    //reject out-of-limits set\n    if ((25 > msg.payload)||(45 < msg.payload)) return [null,null];\n    \n    //this is to set the depth, do not update level\n    alarmdepth = msg.payload;\n    context.set('CONalarmdepth',alarmdepth);\n    return [null,null,{payload: alarmdepth}]\n}\n\nif (alarmdepth < msg.payload) \n{\n        str = \"Nominal - \"+msg.payload+\"±.3 cm\";\n    return [{payload: 1},{payload: str.fontcolor(\"green\") },{payload: alarmdepth}];\n}\nelse \n{\n          str = \"LOW TANK - pump disabled - \"+msg.payload+\"±.3 cm\";\n    return [{payload: 0},{payload: str.fontcolor(\"red\") },{payload: alarmdepth}];\n}\n  \n  //complement this with an alarm depth setting tool - n.b. done!","outputs":3,"noerr":0,"x":1000,"y":1880,"wires":[["bee2256.f411dd8","d1284d5a.2bcc4"],["66dfa858.992058"],["5b062f8c.a4f9d"]],"outputLabels":["0/1 output","Depth (cm)","Depth Trigger Value"]},{"id":"66dfa858.992058","type":"ui_text","z":"33bf8f49.cc407","group":"f36b4e61.0c94b","order":4,"width":"6","height":"1","name":"Fish Tank Water Depth status report","label":"Fish Tank Depth: ","format":"{{msg.payload}}","layout":"row-spread","x":1360,"y":1880,"wires":[]},{"id":"5b062f8c.a4f9d","type":"ui_text","z":"33bf8f49.cc407","group":"f36b4e61.0c94b","order":6,"width":"6","height":"1","name":"Current Depth Alarm Trigger Level value","label":"Depth Alarm Trigger Level (cm)","format":"{{msg.payload}}","layout":"row-spread","x":1370,"y":1920,"wires":[]},{"id":"7ccff50f.83300c","type":"ui_numeric","z":"33bf8f49.cc407","name":"SetDepthAlarmcm","label":"Depth Alarm Trigger","tooltip":"","group":"d25d1ee3.2da2e","order":2,"width":"4","height":"1","wrap":false,"passthru":true,"topic":"SetDepthAlarmcm","format":"{{value}}","min":"25","max":"45","step":1,"x":440,"y":1880,"wires":[["ffe3e1fb.001c2"]]},{"id":"36cebe37.c93142","type":"inject","z":"33bf8f49.cc407","name":"Bootup H2O Low Warning Level (25)","topic":"SetDepthAlarmcm","payload":"25","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":300,"y":1820,"wires":[["7ccff50f.83300c"]]},{"id":"4968ad81.b69754","type":"comment","z":"33bf8f49.cc407","name":"TODO: Get Timestamp from Sensor Stream","info":"","x":1600,"y":2920,"wires":[]},{"id":"8b8a5b2a.7475a8","type":"ui_text","z":"33bf8f49.cc407","group":"f36b4e61.0c94b","order":5,"width":0,"height":0,"name":"Status: Ambient Air Shade Temp","label":"Ambient Air, Shade (C)","format":"{{msg.payload}}","layout":"row-spread","x":3140,"y":3000,"wires":[]},{"id":"bca02ad.f435fd8","type":"function","z":"33bf8f49.cc407","name":"Round off to 0.1C","func":"msg.payload = Number(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"noerr":2,"x":2850,"y":3000,"wires":[["8b8a5b2a.7475a8","7f1441bc.80ebc","acbd3f1d.5342c","9976e331.79152"]]},{"id":"4bfd11d4.b402f","type":"inject","z":"33bf8f49.cc407","name":"Init: Waiting for Update","topic":"","payload":"Waiting for Update","payloadType":"str","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1530,"y":1580,"wires":[["f415b711.0bea48"]]},{"id":"bee2256.f411dd8","type":"function","z":"33bf8f49.cc407","name":"disable (turn off) pump","func":"if (0===msg.payload)\nreturn {payload:0,action:\"turning off fishtank pump\"};\nelse return null;","outputs":1,"noerr":2,"x":970,"y":1660,"wires":[["21fe755c.de018a"]]},{"id":"3c28dd66.c3d722","type":"inject","z":"33bf8f49.cc407","name":"","topic":"Pump and hope for Alarm (DEBUG)","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":1380,"wires":[["21fe755c.de018a"]]},{"id":"2ae7512f.d518ae","type":"function","z":"33bf8f49.cc407","name":"set payload to message","func":"if (0===msg.alarm) return {payload: msg.topic}\nelse return {payload: \"-\"};","outputs":1,"noerr":2,"x":1720,"y":3220,"wires":[["294d5f3.fd6b2a"]]},{"id":"294d5f3.fd6b2a","type":"ui_text","z":"33bf8f49.cc407","group":"f36b4e61.0c94b","order":8,"width":"6","height":"1","name":"Other Alarms","label":"Other Alarms","format":"{{msg.payload}}","layout":"row-spread","x":1960,"y":3220,"wires":[]},{"id":"9d5b4823.62a4b8","type":"rpi-gpio out","z":"33bf8f49.cc407","d":true,"name":"red led gpio (0-100 pwm)","pin":"11","set":"","level":"0","freq":"","out":"pwm","x":2910,"y":1920,"wires":[]},{"id":"bf47bea6.40b84","type":"inject","z":"33bf8f49.cc407","name":"","topic":"","payload":"88","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2560,"y":1760,"wires":[["9d5b4823.62a4b8"]]},{"id":"c5ccbac7.3a3348","type":"inject","z":"33bf8f49.cc407","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2500,"y":1840,"wires":[["9d5b4823.62a4b8"]]},{"id":"fa47f72a.05b808","type":"inject","z":"33bf8f49.cc407","name":"","topic":"","payload":"25","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":2520,"y":1800,"wires":[["9d5b4823.62a4b8"]]},{"id":"2aec6996.d51396","type":"comment","z":"33bf8f49.cc407","name":"Direct GPIO Access","info":"","x":2890,"y":1880,"wires":[]},{"id":"3e4339f3.c1bcc6","type":"comment","z":"33bf8f49.cc407","name":"LED Indicator intensity","info":"","x":2200,"y":1780,"wires":[]},{"id":"1e99b03b.e1665","type":"http in","z":"33bf8f49.cc407","name":"/led?pwm=XX","url":"/led","method":"get","upload":false,"swaggerDoc":"","x":2110,"y":1960,"wires":[["8a3dc884.75c238"]]},{"id":"cdf98e3.f32067","type":"http response","z":"33bf8f49.cc407","name":"success","statusCode":"200","headers":{"content-type":""},"x":2750,"y":1980,"wires":[]},{"id":"8a3dc884.75c238","type":"function","z":"33bf8f49.cc407","name":"check if value ok","func":"if (msg.payload.pwm)\n{\n    if (100>=msg.payload.pwm && 0<=msg.payload.pwm)\n    {\n        msg.payload = msg.payload.pwm\n        return [msg,null];\n    }\n    msg.payload = \"PWM value out of range (0-100)\"\n    return [null,msg];\n}\n\nmsg.payload = \"I should really be a teapot. (no pwm in payload, use /led?pwm=XX)\"\nreturn [null,msg];","outputs":2,"noerr":0,"x":2300,"y":1960,"wires":[["da88ad4e.25775","1cf86ccc.e30793"],["17c0d462.e83f2c"]],"outputLabels":["valid","not"]},{"id":"17c0d462.e83f2c","type":"http response","z":"33bf8f49.cc407","name":"fail (input error)","statusCode":"418","headers":{},"x":2540,"y":2020,"wires":[]},{"id":"da88ad4e.25775","type":"ui_slider","z":"33bf8f49.cc407","name":"led PWM","label":"led PWM","group":"a62b14ff.59d4e8","order":2,"width":"0","height":"0","passthru":true,"topic":"","min":0,"max":"100","step":1,"x":2510,"y":1920,"wires":[["9d5b4823.62a4b8","812847c7.7ed7b8"]]},{"id":"1cf86ccc.e30793","type":"function","z":"33bf8f49.cc407","name":"http msg on success","func":"msg.payload = \"Successfully set led PWM to \"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":2570,"y":1980,"wires":[["cdf98e3.f32067"]]},{"id":"7eafc16f.81504","type":"comment","z":"33bf8f49.cc407","name":"test injections","info":"","x":2650,"y":1840,"wires":[]},{"id":"512a03e6.aed5fc","type":"comment","z":"33bf8f49.cc407","name":"settable via http, ui slider, injection","info":"","x":2260,"y":1880,"wires":[]},{"id":"7ee66674.811998","type":"inject","z":"33bf8f49.cc407","name":"startup PWM: 38 - 1hr repeat","topic":"","payload":"38","payloadType":"num","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":2230,"y":1920,"wires":[["da88ad4e.25775"]]},{"id":"812847c7.7ed7b8","type":"function","z":"33bf8f49.cc407","name":"format pwm value to list payload","func":"msg.payload = [{\"title\":\"fake title\",\"description\":\"fake description\"},\n                    {\"title\":\"cam1\",\"desciption\":\"fakeout\"}];\nreturn msg;","outputs":1,"noerr":0,"x":3080,"y":1960,"wires":[["92199a6a.6de668"]]},{"id":"92199a6a.6de668","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":3360,"y":1980,"wires":[]},{"id":"8a8f05bf.7570f8","type":"buffer-array","z":"33bf8f49.cc407","name":"buffer last 7 payloads","bufferLen":"7","startWhenFilled":true,"x":250,"y":2440,"wires":[["f4fedd7f.0b012"]]},{"id":"38682e17.c797d2","type":"ui_chart","z":"33bf8f49.cc407","name":"Graph: Fish Tank water depth","group":"b6208251.49df8","order":1,"width":"5","height":"5","label":"Fish Tank Water Depth (cm)","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Fish Tank water depth","dot":false,"ymin":"20","ymax":"60","removeOlder":"20","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":800,"y":2420,"wires":[[]]},{"id":"d94ae241.26b52","type":"comment","z":"33bf8f49.cc407","name":"FISH TANK DEPTH","info":"","x":230,"y":2380,"wires":[]},{"id":"17dd98ba.e82267","type":"function","z":"33bf8f49.cc407","name":"round to 0.1","func":"msg.payload = Number(msg.payload).toFixed(1);\nreturn msg;","outputs":1,"noerr":2,"x":500,"y":2520,"wires":[["38682e17.c797d2","da0ce4a8.25f318"]]},{"id":"f4fedd7f.0b012","type":"change","z":"33bf8f49.cc407","name":"CALC mean DEPTH, discard min/max","rules":[{"t":"set","p":"payload","pt":"msg","to":"67 - (7*$average(msg.payload)-$min(msg.payload)-$max(msg.payload))/5","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"mean depth","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":2480,"wires":[["17dd98ba.e82267"]]},{"id":"f610cfc8.09ef3","type":"mcp23017output","z":"33bf8f49.cc407","name":"b7 - HAL9000 eye","chip":"93a36686.6c5c98","bitNum":"15","invert":true,"x":510,"y":840,"wires":[[]]},{"id":"df330ca4.20ccf","type":"inject","z":"33bf8f49.cc407","name":"on","topic":"1","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":860,"wires":[["1abbabeb.e54454"]]},{"id":"551a0766.aae5f8","type":"inject","z":"33bf8f49.cc407","name":"off","topic":"0","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":270,"y":820,"wires":[["1abbabeb.e54454"]]},{"id":"21fe755c.de018a","type":"function","z":"33bf8f49.cc407","name":"pump clearinghouse","func":"\nreturn msg;","outputs":1,"noerr":2,"x":1250,"y":1460,"wires":[["50cc0e56.af33f","6ac8d801.953728"]]},{"id":"f5611303.0a9ef","type":"comment","z":"33bf8f49.cc407","name":"AUTO-starting","info":"","x":1780,"y":340,"wires":[]},{"id":"94a1c75c.6b5e38","type":"function","z":"33bf8f49.cc407","name":"RGB binary","func":"return [{payload: msg.payload},{payload: msg.payload}, {payload: msg.payload}];","outputs":3,"noerr":2,"x":1170,"y":940,"wires":[["18928a32.e76d76"],["c402973a.3bfd68"],["a2e6a0f2.5d196"]]},{"id":"24c6ff61.db39","type":"inject","z":"33bf8f49.cc407","name":"on","topic":"1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":990,"y":960,"wires":[["94a1c75c.6b5e38"]]},{"id":"3613b141.c9ec4e","type":"inject","z":"33bf8f49.cc407","name":"off","topic":"0","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":990,"y":920,"wires":[["94a1c75c.6b5e38","2222085d.ddddf8"]]},{"id":"7848d3b8.87b72c","type":"inject","z":"33bf8f49.cc407","name":"on","topic":"1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1210,"y":820,"wires":[["18928a32.e76d76"]]},{"id":"6dd0ba75.922f44","type":"inject","z":"33bf8f49.cc407","name":"off","topic":"0","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1210,"y":780,"wires":[["18928a32.e76d76"]]},{"id":"3077c16b.cf883e","type":"inject","z":"33bf8f49.cc407","name":"on","topic":"1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":1100,"wires":[["a2e6a0f2.5d196"]]},{"id":"7b58ee11.84a71","type":"inject","z":"33bf8f49.cc407","name":"off","topic":"0","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1230,"y":1060,"wires":[["a2e6a0f2.5d196"]]},{"id":"c8777569.378888","type":"comment","z":"33bf8f49.cc407","name":"Pump enabled via MCP23017 I/O","info":"","x":1520,"y":1400,"wires":[]},{"id":"2ea2cbcc.d15d34","type":"comment","z":"33bf8f49.cc407","name":"Bed Drain: RGB LED + Phototransistor Sense","info":"","x":1090,"y":740,"wires":[]},{"id":"c9974ee.f3668b","type":"inject","z":"33bf8f49.cc407","name":"Init to OFF","topic":"Pump Single Cycle","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":990,"y":1400,"wires":[["21fe755c.de018a"]]},{"id":"4e8cebf9.b17314","type":"link out","z":"53928ce1.ac6d74","name":"OpenWeather-WpgTemp","links":[],"x":785,"y":340,"wires":[]},{"id":"aad86cf4.55279","type":"link in","z":"33bf8f49.cc407","name":"OpenWeather-Wpg","links":["28d8b2bb.d7274e"],"x":2975,"y":2840,"wires":[["92e3e7ff.6d1c18","7f1441bc.80ebc"]]},{"id":"92e3e7ff.6d1c18","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3195,"y":2840,"wires":[]},{"id":"ffe3e1fb.001c2","type":"ui_slider","z":"33bf8f49.cc407","name":"Slider: Depth Alarm Config","label":"Depth Alarm Config (cm)","tooltip":"Limited to 25 - 45 cm minimum depth","group":"d25d1ee3.2da2e","order":3,"width":"6","height":"1","passthru":true,"outs":"end","topic":"","min":"25","max":"45","step":1,"x":700,"y":1880,"wires":[["6698c4b.f99673c"]]},{"id":"baa44b50.455bb8","type":"delay","z":"33bf8f49.cc407","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":960,"y":2520,"wires":[["9f29efb3.60d61","bff2c7e0.759b88"]]},{"id":"1743ea2f.e8bc16","type":"delay","z":"33bf8f49.cc407","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"2","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":720,"y":1940,"wires":[["6698c4b.f99673c"]]},{"id":"6f4eabef.90b154","type":"function","z":"33bf8f49.cc407","name":"Plant Bed Water Action","func":"if (-0.100 > msg.payload) return {payload: \"Bed Filling\"};\nif (+0.030 < msg.payload) return {payload: \"Bed Draining\"};\nreturn {payload: \"Undetectable\"};","outputs":1,"noerr":2,"x":1850,"y":2340,"wires":[["4bcf9f19.b4306"]]},{"id":"4bcf9f19.b4306","type":"ui_text","z":"33bf8f49.cc407","group":"f36b4e61.0c94b","order":2,"width":0,"height":0,"name":"Status: Plant Bed Water","label":"Plant Bed Water","format":"{{msg.payload}}","layout":"row-spread","x":2090,"y":2340,"wires":[]},{"id":"c21db98e.3de248","type":"inject","z":"33bf8f49.cc407","name":"Init: Water Bed Action","topic":"0","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1570,"y":2340,"wires":[["6f4eabef.90b154"]]},{"id":"a8ddb2f8.57225","type":"mcp23017output","z":"33bf8f49.cc407","name":"b1","chip":"93a36686.6c5c98","bitNum":"9","invert":true,"x":490,"y":400,"wires":[[]]},{"id":"fdd04ee1.022fb","type":"mcp23017output","z":"33bf8f49.cc407","name":"b3","chip":"93a36686.6c5c98","bitNum":"11","invert":true,"x":510,"y":600,"wires":[[]]},{"id":"1dd44f3e.e22bb1","type":"mcp23017output","z":"33bf8f49.cc407","name":"b2","chip":"93a36686.6c5c98","bitNum":"10","invert":true,"x":490,"y":500,"wires":[[]]},{"id":"eec8ced.f11373","type":"inject","z":"33bf8f49.cc407","name":"on","topic":"1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":640,"wires":[["fdd04ee1.022fb"]]},{"id":"f99d49e8.0662b8","type":"inject","z":"33bf8f49.cc407","name":"off","topic":"0","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":580,"wires":[["fdd04ee1.022fb"]]},{"id":"33901fa7.cc6fe","type":"comment","z":"33bf8f49.cc407","name":"Unused pins","info":"","x":350,"y":340,"wires":[]},{"id":"cc8c1530.3373e8","type":"inject","z":"33bf8f49.cc407","name":"off","topic":"0","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":480,"wires":[["1dd44f3e.e22bb1"]]},{"id":"3a57c28b.c5a83e","type":"inject","z":"33bf8f49.cc407","name":"on","topic":"1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":520,"wires":[["1dd44f3e.e22bb1"]]},{"id":"13a806f6.ec57f9","type":"inject","z":"33bf8f49.cc407","name":"off","topic":"0","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":310,"y":380,"wires":[["a8ddb2f8.57225"]]},{"id":"723da8a4.8dc258","type":"inject","z":"33bf8f49.cc407","name":"on","topic":"1","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":420,"wires":[["a8ddb2f8.57225"]]},{"id":"b9af51af.4650b","type":"smooth","z":"33bf8f49.cc407","name":"mean over 150","property":"payload","action":"mean","count":"150","round":"","mult":"single","reduce":false,"x":1820,"y":3720,"wires":[["2f14b123.d0eb4e"]]},{"id":"2fa58e90.d05a72","type":"smooth","z":"33bf8f49.cc407","name":"std over 150","property":"payload","action":"sd","count":"150","round":"","mult":"single","reduce":false,"x":1790,"y":3560,"wires":[["11f45b95.ee0ba4"]]},{"id":"bddd8efd.42227","type":"change","z":"33bf8f49.cc407","name":"reading property","rules":[{"t":"set","p":"reading","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1170,"y":3360,"wires":[["8bcfa5ee.743058"]]},{"id":"2f14b123.d0eb4e","type":"function","z":"33bf8f49.cc407","name":"set flow-global meanofdepth","func":"if (null !== msg.payload)\n{\n    //global.set('meanofdepth',msg.payload);\n    flow.set('meanofdepth',msg.payload);\n}\n\nreturn msg;","outputs":1,"noerr":2,"x":2080,"y":3720,"wires":[["c97d191c.3682e8"]]},{"id":"11f45b95.ee0ba4","type":"function","z":"33bf8f49.cc407","name":"set  flow-global stdofdist","func":"if (null !== msg.payload)\n    flow.set('stdofdepth',msg.payload);\n\nreturn msg;","outputs":1,"noerr":2,"x":2040,"y":3560,"wires":[["51b1ca34.ae4e34"]]},{"id":"28d8b2bb.d7274e","type":"link out","z":"33bf8f49.cc407","name":"clear ui data","links":["56466c4a.a9b994","39c46cf.fc63b94","4a54e638.b5ab18","e91614e9.16e9e8","276683c6.d8997c","aad86cf4.55279"],"x":955,"y":2180,"wires":[]},{"id":"39c46cf.fc63b94","type":"link in","z":"33bf8f49.cc407","name":"TAnk Depth graph input","links":["28d8b2bb.d7274e","b663b6cc.499c48","df8eb998.207148"],"x":595,"y":2420,"wires":[["38682e17.c797d2"]]},{"id":"4a54e638.b5ab18","type":"link in","z":"33bf8f49.cc407","name":"","links":["28d8b2bb.d7274e"],"x":1095,"y":3120,"wires":[["5890af26.a76f5"]]},{"id":"e91614e9.16e9e8","type":"link in","z":"33bf8f49.cc407","name":"","links":["28d8b2bb.d7274e"],"x":1215,"y":2960,"wires":[["ab54897d.54ab78"]]},{"id":"276683c6.d8997c","type":"link in","z":"33bf8f49.cc407","name":"","links":["28d8b2bb.d7274e"],"x":1515,"y":3280,"wires":[["2cde425.fd321be"]]},{"id":"cd5c4fa4.32a3b","type":"comment","z":"33bf8f49.cc407","name":"MASTER - CLEAR UI","info":"","x":660,"y":2140,"wires":[]},{"id":"bec87a28.413788","type":"ui_text","z":"33bf8f49.cc407","group":"b6208251.49df8","order":4,"width":"6","height":"1","name":"","label":"mean depth (cm)","format":"{{msg.payload}}","layout":"row-spread","x":2520,"y":3680,"wires":[]},{"id":"51b1ca34.ae4e34","type":"function","z":"33bf8f49.cc407","name":"fix digits","func":"//return {payload: Number(msg.payload).toFixed(1)};\n\n//preserve other msg members\nvar tmp = Number(msg.payload).toFixed(1);\nmsg.payload = tmp;\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":3560,"wires":[["d3ec775.f2c1388"]]},{"id":"c97d191c.3682e8","type":"function","z":"33bf8f49.cc407","name":"fix digits","func":"//return {payload: Number(msg.payload).toFixed(1)};\n\n//preserve other msg members\nvar tmp = Number(msg.payload).toFixed(1);\nmsg.payload = tmp;\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":3720,"wires":[["bec87a28.413788","b8402595.47bfd8","18970a25.2438b6","ecb78dd4.88c98","432d1a40.c81184"]]},{"id":"190ffa5e.e6f006","type":"inject","z":"33bf8f49.cc407","name":"default std dev","topic":"1","payload":"","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1820,"y":3520,"wires":[["11f45b95.ee0ba4"]]},{"id":"e13dc0d9.1ec24","type":"inject","z":"33bf8f49.cc407","name":"default mean","topic":"1","payload":"0","payloadType":"num","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":1810,"y":3680,"wires":[["2f14b123.d0eb4e"]]},{"id":"8bcfa5ee.743058","type":"function","z":"33bf8f49.cc407","name":"dist -TO- depth","func":"msg.payload = 67 - msg.payload; //in cm\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":3360,"wires":[["59496667.a6b698","19b0b374.03b45d"]]},{"id":"b8402595.47bfd8","type":"ui_level","z":"33bf8f49.cc407","group":"b6208251.49df8","order":3,"width":"1","height":"5","name":"depth guage","label":"depth","colorHi":"#e60000","colorWarn":"#00e612","colorNormal":"#e60000","colorOff":"#595959","min":"25","max":"55","segWarn":"27","segHigh":"53","unit":"cm","layout":"sv","channelA":"","channelB":"","decimals":"1","animations":"soft","shape":"1","colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"segments","peakmode":false,"peaktime":3000,"x":2510,"y":3720,"wires":[]},{"id":"acbd3f1d.5342c","type":"link out","z":"33bf8f49.cc407","name":"Fishinator Temperatures","links":["6f16203a.90e9e"],"x":3060,"y":3080,"wires":[]},{"id":"6f16203a.90e9e","type":"link in","z":"53928ce1.ac6d74","name":"Fishinator Temperatures","links":["acbd3f1d.5342c"],"x":710,"y":620,"wires":[["e4ef16ee.1b10e8"]]},{"id":"d8a597a9.275a68","type":"link in","z":"33bf8f49.cc407","name":"tank depth measurement","links":["59496667.a6b698"],"x":1615,"y":3560,"wires":[["b9af51af.4650b","2fa58e90.d05a72"]]},{"id":"59496667.a6b698","type":"link out","z":"33bf8f49.cc407","name":"tank depth measurement","links":["d8a597a9.275a68"],"x":1575,"y":3400,"wires":[]},{"id":"4236b8f9.bdc948","type":"comment","z":"33bf8f49.cc407","name":"Tank water depth STATISTICS: mean, stddev, zscore","info":"","x":2230,"y":3460,"wires":[]},{"id":"939afa6a.6c6508","type":"link in","z":"33bf8f49.cc407","name":"RawDistance Packet","links":["99e6d7bb.661928"],"x":96,"y":2440,"wires":[["8a8f05bf.7570f8"]]},{"id":"99e6d7bb.661928","type":"link out","z":"33bf8f49.cc407","name":"RawDistance Packet","links":["939afa6a.6c6508"],"x":1095,"y":3420,"wires":[]},{"id":"c3ceef6e.3c311","type":"link out","z":"33bf8f49.cc407","name":"tank depth + timestamp out","links":["9558e285.6aa72"],"x":895,"y":2480,"wires":[]},{"id":"9558e285.6aa72","type":"link in","z":"33bf8f49.cc407","name":"","links":["c3ceef6e.3c311"],"x":595,"y":1940,"wires":[["1743ea2f.e8bc16"]]},{"id":"ed6c7e5e.12938","type":"comment","z":"33bf8f49.cc407","name":"This is assigning a state to what (we hope) is happening","info":"","x":1940,"y":2300,"wires":[]},{"id":"b4e59789.4b1a68","type":"link out","z":"33bf8f49.cc407","name":"Depth 1st Derivative","links":[],"x":1755,"y":2420,"wires":[]},{"id":"397c830e.c6837c","type":"ui_template","z":"33bf8f49.cc407","group":"8a4fb36.f75b05","name":"webcam on dashboard","order":1,"width":"6","height":"5","format":"<div><img src='data:image/png;base64,{{msg.payload}}' alt='Webcam Error' title='there should be a picture of the fishinator growbed here' width=\"100%\" height=\"100%\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3180,"y":1400,"wires":[[]]},{"id":"98c1ce3b.673e3","type":"usbcamera","z":"33bf8f49.cc407","filemode":"0","filename":"image01.jpg","filedefpath":"1","filepath":"","fileformat":"jpeg","resolution":"2","name":"overhead cam","x":2430,"y":1420,"wires":[["c4006e74.3bff9"]]},{"id":"936be547.6c9418","type":"debug","z":"33bf8f49.cc407","name":"no err","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":3040,"y":1360,"wires":[]},{"id":"c4006e74.3bff9","type":"switch","z":"33bf8f49.cc407","name":"divert on error","property":"error","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":2630,"y":1420,"wires":[["b085cd61.4f7a3","88be71e.f77419"],["96b94adc.6946b8"]],"outputLabels":["OK","errors"]},{"id":"96b94adc.6946b8","type":"debug","z":"33bf8f49.cc407","name":"err","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2820,"y":1460,"wires":[]},{"id":"b11260ea.4eeda","type":"ui_button","z":"33bf8f49.cc407","name":"~~ Update Image ~~","group":"8a4fb36.f75b05","order":3,"width":"6","height":"1","passthru":true,"label":"~~ Update Image ~~","tooltip":"","color":"","bgcolor":"","icon":"","payload":"[]","payloadType":"json","topic":"updateimage","x":2200,"y":1420,"wires":[["98c1ce3b.673e3"]]},{"id":"e7057e92.18fa8","type":"ui_text","z":"33bf8f49.cc407","group":"8a4fb36.f75b05","order":2,"width":"6","height":"1","name":"","label":"updated:","format":"{{msg.payload}}","layout":"row-spread","x":3200,"y":1280,"wires":[]},{"id":"b085cd61.4f7a3","type":"function","z":"33bf8f49.cc407","name":"trigger time update drop everythign else","func":"return {payload:(new Date()).getTime()};\n","outputs":1,"noerr":2,"x":2920,"y":1280,"wires":[["e7057e92.18fa8"]]},{"id":"bcae73e8.43519","type":"catch","z":"33bf8f49.cc407","name":"overhead cam","scope":["98c1ce3b.673e3"],"uncaught":false,"x":2490,"y":1460,"wires":[["96b94adc.6946b8"]]},{"id":"88be71e.f77419","type":"base64","z":"33bf8f49.cc407","name":"","action":"","property":"payload","x":2850,"y":1400,"wires":[["397c830e.c6837c","936be547.6c9418","4d6f9347.b2906c"]]},{"id":"271c907b.d8e37","type":"debug","z":"33bf8f49.cc407","name":"error?","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1130,"y":3500,"wires":[]},{"id":"1eaf0f4d.e150f1","type":"function","z":"33bf8f49.cc407","name":"New topic names","func":"if (\"Tvolts\"==msg.topic) \n    msg.topic = \"Ambient air\";\nelse if (\"T2volts\"==msg.topic) \n    msg.topic = \"Fishtank (exterior)\";\nelse if (\"T3volts\"==msg.topic) \n    msg.topic = \"Growspace air\";\n\nreturn msg;","outputs":1,"noerr":2,"x":2670,"y":2940,"wires":[["bca02ad.f435fd8"]]},{"id":"363e8677.c9c17a","type":"function","z":"33bf8f49.cc407","name":"convert voltage to log10(resistance)","func":"var MAXREADING = 3.3; //volts\nvar resistance = 0.0;\n\n//the reference resistance is a known value for the system; use it.\nvar REFERENCE_PULLUP_MEASURED = 10000.0; //pullup to vcc on 10k thermistor\n\n//cheap-ass kludge\nif (\"L2volts\"==msg.topic)\n{\n    REFERENCE_PULLUP_MEASURED = 1000.0;\n}\n\n    resistance =REFERENCE_PULLUP_MEASURED*(msg.payload/(MAXREADING-msg.payload));\n    resistance = Math.log10(resistance); //convert to log value to match graph in datasheets\n    node.status({text:\"R_t: \"+resistance.toFixed(0)+\" log(ohms)\"});\n/*}\nelse \n    resistance =REFERENCE_PULLUP_MEASURED*(msg.payload/(MAXREADING-msg.payload)); //10k nominal\n  */  \nmsg.payload = resistance.toFixed(1);\nreturn msg;","outputs":1,"noerr":2,"x":1300,"y":3160,"wires":[["ea421063.15bdf","45304f01.bacfb"]]},{"id":"ea421063.15bdf","type":"ui_chart","z":"33bf8f49.cc407","name":"Graph: Light Sensor (logarithmic) resistance","group":"86c78d95.79387","order":5,"width":"6","height":"4","label":"Light Sensor (logarithmic) resistance","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"CdS (logarithmic) resistance","dot":false,"ymin":"1.0","ymax":"7.0","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1680,"y":3120,"wires":[[]]},{"id":"45304f01.bacfb","type":"function","z":"33bf8f49.cc407","name":"log10(resistance) to log10(lux)","func":"//adapted loosely from a graph in the adafruit document, \"photocells\"\n\nmsg.payload = -0.77 * (Number(msg.payload)) + 5; //log10(lux)\nreturn msg;","outputs":1,"noerr":2,"x":1720,"y":3160,"wires":[["6b55487f.94aab8","af70e625.508f18"]]},{"id":"6b55487f.94aab8","type":"ui_chart","z":"33bf8f49.cc407","name":"Graph: Light Sensor (logarithmic) LUX","group":"86c78d95.79387","order":5,"width":"6","height":"4","label":"Light Sensor (logarithmic) LUX","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"approximate incident LUX","dot":false,"ymin":"0","ymax":"5.0","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":2080,"y":3120,"wires":[[]]},{"id":"af70e625.508f18","type":"function","z":"33bf8f49.cc407","name":"interpret LUX","func":"//TODO: split this into 1) a startup function that a) calculates the log10values\n//                                                  b) sets myLuxTable as flow.global\n//                      3) a function that compares the payload to the flow.global myLuxTable\n\nvar myLuxTable = \n    [ //loosely taken from wikipedia page on LUX\n        { value:0.000002, units:\"lux\", description:\"Real real dark-like\", log10value: 0},\n        { value:0.002, units:\"lux\", description:\"Moonless clear night sky\", log10value: 0},\n        { value:1, description:\"Full Moon on a clear night\", units:\"lux\", log10value: 0},\n        { value:3.4, description:\"Lower limit of civil twilight with clear sky\", units:\"lux\", log10value: 0},\n        { value:50, description:\"Family living room\", units:\"lux\", log10value: 0},\n        { value:80, description:\"Well-lit commercial Hallway\", units:\"lux\", log10value: 0},\n        { value:100, description:\"Dark overcast day\", units:\"lux\", log10value: 0},\n        { value:400, description:\"Sunrise/Sunset on clear day\", units:\"lux\", log10value: 0},\n        { value:1000, description:\"Overcast day (studio lighting)\", units:\"lux\", log10value: 0},\n        { value:10000, description:\"Full Daylight (not direct, low)\", units:\"lux\", log10value: 0},\n        { value:25000, description:\"Full Daylight (not direct, high)\", units:\"lux\", log10value: 0},\n        { value:32000, description:\"Direct Sunlight (low)\", units:\"lux\", log10value: 0},\n        { value:130000, description:\"Direct Sunlight (high)\", units:\"lux\", log10value: 0},\n        { value:10000000, description:\"Sun has gone Nova\", units:\"lux\", log10value: 0},\n    ];\n\n//couln't be bothered to calculate/enter these values myself\n//poor design decision to have this have to execute/fill-in the log values every time through\nfor (var i=1;i<myLuxTable.length;i++)\n{\n    myLuxTable[i].log10value = Math.log10(myLuxTable[i].value);\n}\n\ni = 0;\nwhile (Number(msg.payload) > myLuxTable[i].log10value) { i++; } //probably a bettery way to do this\n\nmsg.interpretation = [ myLuxTable[i-1].description , myLuxTable[i].description ];\nnode.status({text:msg.interpretation[0]+\" <-----> \"+msg.interpretation[1]});\n\nreturn msg;\n","outputs":1,"noerr":0,"x":2000,"y":3160,"wires":[["775fbe0d.88a04","ee9e4291.1161c"]]},{"id":"775fbe0d.88a04","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2170,"y":3200,"wires":[]},{"id":"ee9e4291.1161c","type":"function","z":"33bf8f49.cc407","name":"parse interpretation (L2 only)","func":"if (msg.topic != \"L2volts\") return [null,null];\nelse return [{payload:msg.interpretation[0]},{payload:msg.interpretation[1]}];","outputs":2,"noerr":2,"x":2250,"y":3160,"wires":[["6a319f6b.95ce6"],["dde258fc.221da8"]]},{"id":"dde258fc.221da8","type":"ui_text","z":"33bf8f49.cc407","group":"f36b4e61.0c94b","order":9,"width":"6","height":"1","name":"light status interpretation 1","label":"LightMax: ","format":"{{msg.payload}}","layout":"row-spread","x":2550,"y":3140,"wires":[]},{"id":"6a319f6b.95ce6","type":"ui_text","z":"33bf8f49.cc407","group":"f36b4e61.0c94b","order":10,"width":"6","height":"1","name":"light status interpretation 2","label":"LightMin: ","format":"{{msg.payload}}","layout":"row-spread","x":2550,"y":3180,"wires":[]},{"id":"1abbabeb.e54454","type":"ui_switch","z":"33bf8f49.cc407","name":"","label":"HAL9000","tooltip":"","group":"d25d1ee3.2da2e","order":4,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":420,"y":780,"wires":[["f610cfc8.09ef3"]]},{"id":"d3ec775.f2c1388","type":"function","z":"33bf8f49.cc407","name":"Detect Steady State (from std dev)","func":"if ( (null !== msg.payload) && (Number(msg.payload)) )\n{\n    msg.reading = msg.payload; //history\n    if ( 0.3 < Number(msg.payload) )\n        msg.payload = false;\n    else \n        msg.payload = true;\n        \n    flow.set('steadystate',msg.payload);\n    return msg;\n}\nelse return null;\n","outputs":1,"noerr":2,"x":2490,"y":3560,"wires":[["e35a19e0.1ca5e8","8653179d.79ace8","df616ec.f209e9"]]},{"id":"e35a19e0.1ca5e8","type":"ui_led","z":"33bf8f49.cc407","group":"f36b4e61.0c94b","order":3,"width":"6","height":"1","label":"SteadyState","labelPlacement":"left","labelAlignment":"right","colorForValue":[{"color":"grey","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"SS:","x":2760,"y":3600,"wires":[]},{"id":"8653179d.79ace8","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2770,"y":3640,"wires":[]},{"id":"ec33be7.f13cc4","type":"link in","z":"33bf8f49.cc407","name":"HAL9000","links":["df616ec.f209e9"],"x":220,"y":920,"wires":[["1abbabeb.e54454"]]},{"id":"df616ec.f209e9","type":"link out","z":"33bf8f49.cc407","name":"HAL9000","links":["ec33be7.f13cc4"],"x":2725,"y":3560,"wires":[]},{"id":"2222085d.ddddf8","type":"ui_switch","z":"33bf8f49.cc407","name":"Grow","label":"Grow","tooltip":"","group":"d25d1ee3.2da2e","order":5,"width":"2","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":true,"onvalueType":"num","onicon":"","oncolor":"","offvalue":false,"offvalueType":"num","officon":"","offcolor":"","x":1190,"y":900,"wires":[["18928a32.e76d76","a2e6a0f2.5d196"]]},{"id":"d0d07282.2f2f9","type":"http in","z":"33bf8f49.cc407","name":"","url":"/fishcam","method":"get","upload":false,"swaggerDoc":"","x":2200,"y":1500,"wires":[["98c1ce3b.673e3"]]},{"id":"4d6f9347.b2906c","type":"http response","z":"33bf8f49.cc407","name":"","statusCode":"","headers":{},"x":3110,"y":1480,"wires":[]},{"id":"20b78e3.c3a3572","type":"comment","z":"33bf8f49.cc407","name":"Send Data to family computer","info":"","x":3180,"y":3140,"wires":[]},{"id":"ad394dba.e78c5","type":"comment","z":"33bf8f49.cc407","name":"SENSORY INPUT","info":"","x":270,"y":2940,"wires":[]},{"id":"c10ef795.a84f28","type":"comment","z":"33bf8f49.cc407","name":"WEBCAM","info":"","x":2320,"y":1280,"wires":[]},{"id":"2a83c308.8a8f1c","type":"comment","z":"33bf8f49.cc407","name":"RANDOM BAR GRAPH","info":"","x":1640,"y":240,"wires":[]},{"id":"57707e1c.93f1b","type":"comment","z":"33bf8f49.cc407","name":"PUMPING","info":"","x":800,"y":1320,"wires":[]},{"id":"19b0b374.03b45d","type":"websocket out","z":"33bf8f49.cc407","name":"outgoing connect to ws://10.9.142.142:1880/ws/waterdepthpacket","server":"","client":"9916e35.a20ce2","x":1800,"y":3360,"wires":[]},{"id":"9976e331.79152","type":"change","z":"33bf8f49.cc407","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"myreading","tot":"msg"},{"t":"set","p":"payload.fishmsgtype","pt":"msg","to":"temperature","tot":"str"},{"t":"set","p":"payload.datatype","pt":"msg","to":"number","tot":"str"},{"t":"set","p":"payload.value","pt":"msg","to":"myreading","tot":"msg"},{"t":"set","p":"payload.units","pt":"msg","to":"cm","tot":"str"},{"t":"move","p":"topic","pt":"msg","to":"payload.topic","tot":"msg"},{"t":"set","p":"payload.payload","pt":"msg","to":"myreading","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2800,"y":3300,"wires":[["81aaecb1.cb86a"]]},{"id":"81aaecb1.cb86a","type":"websocket out","z":"33bf8f49.cc407","name":"outgoing connect to ws://10.9.142.142:1880/ws/temperature","server":"","client":"8ae2157d.ca25b8","x":3160,"y":3300,"wires":[]},{"id":"49666b91.ca81d4","type":"comment","z":"33bf8f49.cc407","name":"b1 is PC Fan","info":"","x":530,"y":360,"wires":[]},{"id":"c7ad4f19.d387b","type":"comment","z":"33bf8f49.cc407","name":"b2 is diaphram pump","info":"","x":560,"y":460,"wires":[]},{"id":"cbb3ae75.d8343","type":"comment","z":"33bf8f49.cc407","name":"b3 is buzzer","info":"","x":570,"y":560,"wires":[]},{"id":"f0ad37e5.d019e8","type":"ui_switch","z":"33bf8f49.cc407","name":"Air Fan","label":"Air Fan","tooltip":"turn the air fan on/off","group":"1a48274b.e5b7d9","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":160,"y":400,"wires":[["a8ddb2f8.57225"]]},{"id":"8cb6cdc3.ba568","type":"ui_switch","z":"33bf8f49.cc407","name":"Diaphram Pump","label":"Diaphram Pump","tooltip":"turn the Diaphram Pump on/off","group":"1a48274b.e5b7d9","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":140,"y":500,"wires":[["1dd44f3e.e22bb1"]]},{"id":"acdfaf55.7e3af","type":"ui_switch","z":"33bf8f49.cc407","name":"Buzzer","label":"Buzzer","tooltip":"turn the Buzzer on/off","group":"1a48274b.e5b7d9","order":5,"width":0,"height":0,"passthru":false,"decouple":"false","topic":"","style":"","onvalue":true,"onvalueType":"num","onicon":"","oncolor":"","offvalue":false,"offvalueType":"num","officon":"","offcolor":"","x":100,"y":580,"wires":[["45f2c36a.4f236c"]]},{"id":"d276c224.aa738","type":"trigger","z":"33bf8f49.cc407","op1":"","op2":"0","op1type":"nul","op2type":"num","duration":"2","extend":false,"units":"s","reset":"","bytopic":"all","name":"2 second deadman switch","x":350,"y":680,"wires":[["fdd04ee1.022fb"]]},{"id":"18970a25.2438b6","type":"dweetio out","z":"33bf8f49.cc407","thing":"fishinator005_mean_steady_state_depth_cm","name":"Depth sent to Dweet.io","x":2510,"y":3640,"wires":[]},{"id":"ecb78dd4.88c98","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2500,"y":3780,"wires":[]},{"id":"bf47c55.6bb4c38","type":"dweetio out","z":"33bf8f49.cc407","thing":"fishinator005","name":"Main Fishinator Dweet.io","x":2730,"y":3840,"wires":[]},{"id":"432d1a40.c81184","type":"function","z":"33bf8f49.cc407","name":"put entire object in new payload","func":"msg.depth = msg.payload;\n\nvar tmp = JSON.stringify(msg);\n\nmsg.payload = JSON.parse(tmp);\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":3840,"wires":[["db265ee7.a9893"]]},{"id":"db265ee7.a9893","type":"delay","z":"33bf8f49.cc407","name":"limit data","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"30","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":2520,"y":3840,"wires":[["bf47c55.6bb4c38"]]},{"id":"aff63572.8d0158","type":"comment","z":"33bf8f49.cc407","name":"URL list","info":"https://dweet.io/follow/fishinator005\n\nand\n\nhttps://tinyurl.com/fishinator005\nre-routes to there as well.","x":2770,"y":3800,"wires":[]},{"id":"7fa905aa.1e880c","type":"link in","z":"33bf8f49.cc407","name":"Alarm-Buzzer","links":["9459ec61.d9842"],"x":55,"y":680,"wires":[["45f2c36a.4f236c"]]},{"id":"45f2c36a.4f236c","type":"function","z":"33bf8f49.cc407","name":"passthru","func":"\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":620,"wires":[["fdd04ee1.022fb","d276c224.aa738"]]},{"id":"a80673f9.db409","type":"function","z":"33bf8f49.cc407","name":"alarm logic inversion","func":"//this takes active-low alarms, \n//   and outputs an active-high alarm \n\nvar tmpval = 0;\n\nif (null !== msg.payload)\n{\n    switch(msg.payload)\n    {  \n        case 0: tmpval = 1; break;\n        case 1: tmpval = 0; break;\n        default: tmpval = null;\n    }\n    msg.payload = tmpval;\n    msg.timestamp = Date().toLocaleString('en-US');\n}\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":1720,"wires":[["9459ec61.d9842","5520fa57.f370a4"]]},{"id":"9459ec61.d9842","type":"link out","z":"33bf8f49.cc407","name":"","links":["7fa905aa.1e880c"],"x":1375,"y":1720,"wires":[]},{"id":"4daab7c2.b37788","type":"rbe","z":"33bf8f49.cc407","name":"rbe block","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":680,"y":1720,"wires":[["a80673f9.db409"]]},{"id":"d1284d5a.2bcc4","type":"rbe","z":"33bf8f49.cc407","name":"rbe block","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":1300,"y":1840,"wires":[["a80673f9.db409"]]},{"id":"5520fa57.f370a4","type":"debug","z":"33bf8f49.cc407","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1420,"y":1680,"wires":[]},{"id":"ab89c470.dd67e8","type":"comment","z":"33bf8f49.cc407","name":"Sensor timestamp originates here","info":"","x":790,"y":3160,"wires":[]},{"id":"950f7133.a4713","type":"exec","z":"33bf8f49.cc407","command":"scrot","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"scrot","x":510,"y":3620,"wires":[["77855603.e95908"],["77855603.e95908"],["77855603.e95908"]]},{"id":"e33a7323.9ba09","type":"inject","z":"33bf8f49.cc407","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":360,"y":3620,"wires":[["950f7133.a4713"]]},{"id":"77855603.e95908","type":"debug","z":"33bf8f49.cc407","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":3620,"wires":[]},{"id":"bff2c7e0.759b88","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1150,"y":2440,"wires":[]},{"id":"2190ac34.0e2204","type":"comment","z":"b40b5bc9.07fc38","name":"CRASHES - process microphone data to detect pump/flow","info":"","x":510,"y":140,"wires":[]},{"id":"7764b9a8.8e75b8","type":"debug","z":"b40b5bc9.07fc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":670,"y":280,"wires":[]},{"id":"1c6d6296.164b6d","type":"ui_audio","z":"b40b5bc9.07fc38","d":true,"name":"Play Microphone","group":"c0886a13.3f7798","voice":"","always":"","x":730,"y":240,"wires":[]},{"id":"6da21c0d.ea4344","type":"microPi","z":"b40b5bc9.07fc38","d":true,"name":"microPi","filename":"/home/pi/audio/demo.wav","domain":"http://localhost:1880","rate":"11024","bitwidth":"16","endian":"little","encoding":"signed-integer","channels":"1","silence":"10","debug":true,"mode":"666","x":480,"y":240,"wires":[[],["1c6d6296.164b6d"],["7764b9a8.8e75b8"]]},{"id":"7bb97215.70af6c","type":"inject","z":"b40b5bc9.07fc38","name":"Start Mic Stream","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":220,"wires":[["6da21c0d.ea4344"]]},{"id":"8f2b8f32.d2a8e","type":"inject","z":"b40b5bc9.07fc38","name":"Stop Mic Stream","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":260,"wires":[["6da21c0d.ea4344"]]},{"id":"54bfbe4.adad54","type":"debug","z":"b40b5bc9.07fc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":690,"y":320,"wires":[]},{"id":"9caba02d.fa77f","type":"catch","z":"b40b5bc9.07fc38","name":"catch micropi + play mic","scope":["1c6d6296.164b6d","6da21c0d.ea4344"],"uncaught":false,"x":490,"y":320,"wires":[["54bfbe4.adad54"]]},{"id":"8670c83f.9b4d78","type":"inject","z":"b40b5bc9.07fc38","name":"start recording","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":230,"y":520,"wires":[["38322b2c.9c2ae4","f94cdbf8.b33b28"]]},{"id":"90f0e514.c60fa8","type":"debug","z":"b40b5bc9.07fc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1000,"y":520,"wires":[]},{"id":"3d28b658.13f77a","type":"function","z":"b40b5bc9.07fc38","name":"stop recording","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":2,"x":570,"y":600,"wires":[["f94cdbf8.b33b28"]]},{"id":"38322b2c.9c2ae4","type":"delay","z":"b40b5bc9.07fc38","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":600,"wires":[["3d28b658.13f77a"]]},{"id":"f94cdbf8.b33b28","type":"microphone","z":"b40b5bc9.07fc38","d":true,"name":"microphone","endian":"little","bitwidth":"16","encoding":"signed-integer","channels":"1","rate":"22050","silence":10,"debug":false,"active":true,"x":780,"y":520,"wires":[["90f0e514.c60fa8","5dc4f53a.1705dc"]]},{"id":"5dc4f53a.1705dc","type":"play audio","z":"b40b5bc9.07fc38","name":"","voice":"2","x":1020,"y":600,"wires":[]},{"id":"5a8ca7fc.af2a28","type":"inject","z":"b40b5bc9.07fc38","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":600,"wires":[["5dc4f53a.1705dc"]]},{"id":"3f6aa671.06835a","type":"ui_audio","z":"b40b5bc9.07fc38","d":true,"name":"","group":"1a48274b.e5b7d9","voice":"en-GB","always":true,"x":1020,"y":660,"wires":[]},{"id":"9fda17f4.d86ee8","type":"inject","z":"b40b5bc9.07fc38","name":"","topic":"","payload":"Hello","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":800,"y":720,"wires":[["3f6aa671.06835a"]]},{"id":"94f34e68.f26bd","type":"file in","z":"b40b5bc9.07fc38","name":"got the intruder","filename":"/home/pi/audio/bezerk1.wav","format":"","chunk":false,"sendError":false,"encoding":"none","x":760,"y":660,"wires":[["3f6aa671.06835a","5dc4f53a.1705dc"]]},{"id":"dd4875ac.e50a88","type":"inject","z":"b40b5bc9.07fc38","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":600,"y":660,"wires":[["94f34e68.f26bd"]]},{"id":"5e621c30.53a3e4","type":"comment","z":"b40b5bc9.07fc38","name":"This is some microphone monitoring testing","info":"","x":490,"y":420,"wires":[]},{"id":"3ef7817c.7c5b6e","type":"comment","z":"b40b5bc9.07fc38","name":"Audio can be redundant pump sense, etc","info":"","x":500,"y":480,"wires":[]},{"id":"5c862305.3fa33c","type":"rpi-gpio in","z":"b40b5bc9.07fc38","name":"sdcard \"Card Detect\" input (active high)","pin":"33","intype":"up","debounce":"25","read":true,"x":430,"y":1000,"wires":[["51390a57.1537f4","585c04ac.6dfa5c"]]},{"id":"51390a57.1537f4","type":"debug","z":"b40b5bc9.07fc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":1000,"wires":[]},{"id":"585c04ac.6dfa5c","type":"rpi-gpio out","z":"b40b5bc9.07fc38","name":"Green LED","pin":"31","set":"","level":"0","freq":"","out":"out","x":720,"y":1040,"wires":[]},{"id":"90be4f34.25cc8","type":"comment","z":"b40b5bc9.07fc38","name":"2nd microSDcard","info":"","x":310,"y":900,"wires":[]},{"id":"5858bb22.1cd114","type":"file","z":"b40b5bc9.07fc38","name":"write OLED screen","filename":"/dev/fd1","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"hex","x":790,"y":1420,"wires":[["d0fc59ab.948db8"]]},{"id":"71d54b72.f5e0b4","type":"file in","z":"b40b5bc9.07fc38","name":"read OLED screen (1024 bytes)","filename":"/dev/fb1","format":"","chunk":false,"sendError":false,"encoding":"none","x":570,"y":1300,"wires":[["c1400d59.8c615","8e5778a6.bb1eb8"]]},{"id":"1c33a06c.60562","type":"inject","z":"b40b5bc9.07fc38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":1300,"wires":[["71d54b72.f5e0b4"]]},{"id":"c1400d59.8c615","type":"debug","z":"b40b5bc9.07fc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":800,"y":1300,"wires":[]},{"id":"8e5778a6.bb1eb8","type":"function","z":"b40b5bc9.07fc38","name":"save current OLED screen","func":"if (null === msg.payload) return null;\n\nvar tmpscreen;\n\nif ((Buffer.from(msg.payload)).length <= 1024)\n    tmpscreen = msg.payload;\nelse\n    tmpscreen = (msg.payload).substring(0,1024);\n    \nglobal.set(\"oldscreen\",tmpscreen);\n\nfs.close(msg.filename);\n\nreturn {\"payload\":\"success\"};","outputs":1,"noerr":2,"x":860,"y":1360,"wires":[[]]},{"id":"dd150324.278de","type":"function","z":"b40b5bc9.07fc38","name":"write old OLED screen","func":"delete(msg.payload);\nmsg.payload = global.get(\"oldscreen\")||null;\n\nreturn msg;","outputs":1,"noerr":2,"x":520,"y":1420,"wires":[["5858bb22.1cd114"]]},{"id":"d85b9d16.5b426","type":"inject","z":"b40b5bc9.07fc38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1420,"wires":[["dd150324.278de"]]},{"id":"d0fc59ab.948db8","type":"debug","z":"b40b5bc9.07fc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":1420,"wires":[]},{"id":"ab74f747.fafa38","type":"function","z":"b40b5bc9.07fc38","name":"make a framebuffer","func":"'use strict';\n\n//this line gives \"ReferenceError: require is not defined\"\nvar framebuffer = require('../lib/framebuffer');\n\nvar fb = new Framebuffer('/dev/fb1');\n\nconsole.log(fb.toString());\n\nreturn msg;","outputs":1,"noerr":2,"x":500,"y":1180,"wires":[["d9bbc7f9.05ff68"]]},{"id":"8ea0ffea.c238d","type":"inject","z":"b40b5bc9.07fc38","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1180,"wires":[["ab74f747.fafa38"]]},{"id":"d9bbc7f9.05ff68","type":"debug","z":"b40b5bc9.07fc38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1180,"wires":[]},{"id":"6b6ff079.7e57b","type":"comment","z":"b40b5bc9.07fc38","name":"this won't work client-side nodejs","info":"","x":480,"y":1140,"wires":[]},{"id":"f0ee5284.838a9","type":"http in","z":"b40b5bc9.07fc38","name":"/test in","url":"/test","method":"get","upload":false,"swaggerDoc":"","x":1410,"y":180,"wires":[["71c978d5.657138"]]},{"id":"eb4cbae1.af5f08","type":"http response","z":"b40b5bc9.07fc38","name":"","statusCode":"","headers":{},"x":1790,"y":180,"wires":[]},{"id":"71c978d5.657138","type":"function","z":"b40b5bc9.07fc38","name":"random number 1-100","func":"//I originally planned the following as 0-99,\n//but then I actually saw it produce a value\n//of 100 once.\nmsg.payload = (100*Math.random()).toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":180,"wires":[["eb4cbae1.af5f08"]]},{"id":"80923234.aee88","type":"comment","z":"b40b5bc9.07fc38","name":"0-100 Random number at http://localhost:1880/test ","info":"","x":1550,"y":140,"wires":[]},{"id":"dc1b15db.4e5f78","type":"tcp in","z":"33bf8f49.cc407","name":"accept command input","server":"server","host":"","port":"9999","datamode":"single","datatype":"utf8","newline":"","topic":"command input","base64":false,"x":270,"y":1040,"wires":[["fe10ba58.957e88"]]},{"id":"fe10ba58.957e88","type":"debug","z":"33bf8f49.cc407","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":1040,"wires":[]},{"id":"34080d67.64f642","type":"http in","z":"33bf8f49.cc407","name":"PUT /fishnator/AirFans/command","url":"/fishnator/AirFans/command","method":"put","upload":false,"swaggerDoc":"","x":710,"y":100,"wires":[["57abb63b.38a598"]]},{"id":"57abb63b.38a598","type":"function","z":"33bf8f49.cc407","name":"Airfans command setup","func":"//sanitize / reject bad input\nif (!((\"0\" == msg.payload )||(\"1\" == msg.payload))) \n{\n    //failed!\n    msg.statusCode = 420;\n    return;\n//msg.error = \"Error 1428 Invalid Payload\";\n}\n\n//this implementation needs payload\n//as a number rather than a string.\nmsg.payload = Number(msg.payload);\n\nmsg.topic = \"AirFans REST command \"+Date.now()%1000;\n\nmsg.statusCode = 200;//OK\n\nreturn msg;","outputs":1,"noerr":0,"x":986.2456665039062,"y":96.979248046875,"wires":[["623e62f7.5a66dc","f0ad37e5.d019e8","4c2d421e.074dec"]]},{"id":"623e62f7.5a66dc","type":"http response","z":"33bf8f49.cc407","name":"","statusCode":"","headers":{},"x":1187.4870719909668,"y":98.9930419921875,"wires":[]},{"id":"4c2d421e.074dec","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1170,"y":60,"wires":[]},{"id":"e803ddcf.3349","type":"comment","z":"33bf8f49.cc407","name":"accept commands on REST api","info":"","x":810,"y":60,"wires":[]},{"id":"c7c3986d.b97088","type":"http in","z":"33bf8f49.cc407","name":"PUT /fishnator/Pumps/command","url":"/fishnator/Pumps/command","method":"put","upload":false,"swaggerDoc":"","x":830,"y":280,"wires":[["54774db1.b35164"]]},{"id":"54774db1.b35164","type":"function","z":"33bf8f49.cc407","name":"Pumps command setup","func":"//sanitize / reject bad input\nif (!((\"0\" == msg.payload )||(\"1\" == msg.payload))) \n{\n    //failed!\n    msg.statusCode = 420;\n    return;\n//msg.error = \"Error 1428 Invalid Payload\";\n}\n\n//this implementation needs payload\n//as a number rather than a string.\nmsg.payload = Number(msg.payload);\n\nmsg.topic = \"Pumps REST command \"+Date.now()%1000;\n\nmsg.statusCode = 200;//OK\n\nreturn msg;","outputs":1,"noerr":0,"x":1106.2456665039062,"y":276.979248046875,"wires":[["1e13cf1c.309241","2c514ecd.3f8152","8cb6cdc3.ba568"]]},{"id":"1e13cf1c.309241","type":"http response","z":"33bf8f49.cc407","name":"","statusCode":"","headers":{},"x":1307.4870719909668,"y":278.9930419921875,"wires":[]},{"id":"2c514ecd.3f8152","type":"debug","z":"33bf8f49.cc407","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1290,"y":240,"wires":[]},{"id":"2226b421.a632fc","type":"comment","z":"33bf8f49.cc407","name":"accept commands on REST api","info":"","x":930,"y":240,"wires":[]},{"id":"bb592170.27a59","type":"comment","z":"684fddbb.d691e4","name":"for instance, group all the dweet.io publishes together here","info":"","x":490,"y":120,"wires":[]},{"id":"1715bcad.46f153","type":"comment","z":"53928ce1.ac6d74","name":"Grab some temperatures from local devices","info":"","x":410,"y":740,"wires":[]},{"id":"41a35f26.678ec","type":"comment","z":"53928ce1.ac6d74","name":"digital","info":"","x":390,"y":800,"wires":[]},{"id":"d56c0907.e01778","type":"comment","z":"53928ce1.ac6d74","name":"analog","info":"","x":390,"y":940,"wires":[]},{"id":"4f2559b8.856628","type":"i2c scan","z":"53928ce1.ac6d74","x":580,"y":840,"wires":[["c857521.1217eb"],["c857521.1217eb"]]},{"id":"275d137b.00c0dc","type":"inject","z":"53928ce1.ac6d74","name":"test start - needs params","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":370,"y":840,"wires":[["4f2559b8.856628"]]},{"id":"c857521.1217eb","type":"debug","z":"53928ce1.ac6d74","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":840,"wires":[]},{"id":"3a8611e1.4e606e","type":"inject","z":"53928ce1.ac6d74","name":"","topic":"","payload":"test start","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":320,"y":1000,"wires":[["d0fbce58.af289"]]},{"id":"c63db3e0.b75aa","type":"rpi-gpio in","z":"53928ce1.ac6d74","name":"RPi cannot read analog values","pin":"tri","intype":"tri","debounce":"25","read":false,"x":490,"y":1160,"wires":[["7645aac1.9172a4"]]},{"id":"d0fbce58.af289","type":"rpi-dht22","z":"53928ce1.ac6d74","name":"ask dht22 device","topic":"rpi-dht22","dht":22,"pintype":1,"pin":4,"x":530,"y":1000,"wires":[["7645aac1.9172a4"]]},{"id":"7645aac1.9172a4","type":"debug","z":"53928ce1.ac6d74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":770,"y":1000,"wires":[]},{"id":"8bfe7a5a.f49c88","type":"link out","z":"53928ce1.ac6d74","name":"","links":["eb608c9c.4ddc"],"x":1015,"y":920,"wires":[]},{"id":"280ca9ac.4602e6","type":"function","z":"53928ce1.ac6d74","name":"process temperature data","func":"\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":920,"wires":[["8bfe7a5a.f49c88"]]},{"id":"4aa3ddd3.581bc4","type":"comment","z":"53928ce1.ac6d74","name":"send to temperature graph","info":"","x":990,"y":880,"wires":[]},{"id":"b6dae9a9.347e38","type":"comment","z":"53928ce1.ac6d74","name":"input required","info":"","x":630,"y":920,"wires":[]},{"id":"9a063ecd.64e3","type":"debug","z":"53928ce1.ac6d74","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":1300,"wires":[]},{"id":"d138d5fb.f6f0c8","type":"ncd-ads1115","z":"53928ce1.ac6d74","d":true,"name":"proximate Fishinator Thermistors (x4)","connection":"f5d27efd.0a2d8","addr":"72","interval":"20","outputs":1,"output_all":false,"output_mult":1,"channel_1":"4","channel_2":"5","channel_3":"6","channel_4":"7","gain":"0","mode":"0","rate":"0","compMode":0,"compPol":0,"compLat":0,"compQueue":3,"delay":"100","x":380,"y":1300,"wires":[["9a063ecd.64e3"]]},{"id":"e136d354.2f04c","type":"comment","z":"53928ce1.ac6d74","name":"OK this works again, now send packets to BevMint for processing","info":"****","x":540,"y":1260,"wires":[]},{"id":"c1d5b7d9.5c1068","type":"comment","z":"d46a7cc.f2b958","name":"This was your FIRST node-red flow, its novice structure sucks!","info":"","x":540,"y":160,"wires":[]}]